<div class="modal-header">
	<i ng-click="cancel()" class="glyphicon glyphicon-remove icon-arrow-right pull-right" style="cursor: pointer; font-size: 22px; font-weight: normal;"></i>
	<h3 class="modal-title">{{property.propertyName}}</h3>
</div>
<div class="modal-body row">
	<div class="col-md-6">
		<div class="row" style="padding: 20px 10px;">
			<span class="col-md-5 upper-letters" style="color: #7a7a7a;">Property Name</span>
			<span class="col-md-6 bold">{{property.propertyName}}</span>
		</div>
		<div class="row" style="padding: 20px 10px;">
			<span class="col-md-5 upper-letters" style="color: #7a7a7a;">Property ID</span>
			<span class="col-md-6 bold">{{property.propertyId}}</span>
		</div>
		<div class="row" style="padding: 20px 10px;">
			<span class="col-md-5 upper-letters" style="color: #7a7a7a;">Management Company</span>
			<span class="col-md-6 bold">{{property.managementCompany}}</span>
		</div>
		<div class="row" style="padding: 20px 10px;">
			<span class="col-md-5 upper-letters" style="color: #7a7a7a;">Phone Number</span>
			<span class="col-md-6 bold">{{property.phoneNumber}}</span>
		</div>
		<div class="row" style="padding: 20px 10px;">
			<span class="col-md-5 upper-letters" style="color: #7a7a7a;">Fax Number</span>
			<span class="col-md-6 bold">{{property.faxNumber}}</span>
		</div>
		<div class="row" style="padding: 20px 10px;">
			<span class="col-md-5 upper-letters" style="color: #7a7a7a;">Email Address</span>
			<span class="col-md-6 bold">{{property.email}}</span>
		</div>
		<div class="row" style="padding: 20px 10px;">
			<span class="col-md-5 upper-letters" style="color: #7a7a7a;">Secondary Email</span>
			<span class="col-md-6 bold">{{property.secondaryEmail}}</span>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row" style="padding: 20px 10px;">
			<span class="col-md-5 upper-letters" style="color: #7a7a7a;">Invoice Email</span>
			<span class="col-md-6 bold">{{property.invoiceEmail}}</span>
		</div>
		<div class="row" style="padding: 20px 10px;">
			<span class="col-md-5 upper-letters" style="color: #7a7a7a;">Status</span>
			<span class="col-md-6 bold">{{property.status}}</span>
		</div>
		<div class="row" style="padding: 20px 10px;">
			<span class="col-md-5 upper-letters" style="color: #7a7a7a;">State</span>
			<span class="col-md-6 bold">{{property.state}}</span>
		</div>
		<div class="row" style="padding: 20px 10px;">
			<span class="col-md-5 upper-letters" style="color: #7a7a7a;">City</span>
			<span class="col-md-6 bold">{{property.city}}</span>
		</div>
		<div class="row" style="padding: 20px 10px;">
			<span class="col-md-5 upper-letters" style="color: #7a7a7a;">Street Address</span>
			<span class="col-md-6 bold">{{property.streetAddress}}</span>
		</div>
		<div class="row" style="padding: 20px 10px;">
			<span class="col-md-5 upper-letters" style="color: #7a7a7a;">Zip</span>
			<span class="col-md-6 bold">{{property.zip}}</span>
		</div>
	</div>
</div>

