<div class="modal-body">
	<div class="row">
		<i ng-click="cancel()" class="glyphicon glyphicon-remove icon-close-right pull-right" style="cursor: pointer; font-size: 22px; z-index: 2; margin-right: -15px; margin-top: -16px;"></i>
		<div class="col-md-12" style="margin-bottom: 37px; padding: 0 60px;">
			<h2 class="HelveticaNeueCyrThin" style="font-size: 60px; margin: 0px;">{{property.propertyName}}</h2>
		</div>
	</div>
	<div class="row HelveticaNeue" style="margin-bottom: 30px; padding: 0 25px;">
		<div class="col-md-12" style="padding: 5px 40px;">
			<input type="text" ng-model="property.propertyName" class="form-control" placeholder="Property Name" disabled>
		</div>
		<div class="col-md-6" style="padding: 0 12px 0 40px;">
			<div class="row" style="padding: 3px 0;">
				<input type="text" ng-model="property.mysql_id" class="form-control" placeholder="Property ID" disabled>
			</div>
			<div class="row" style="padding: 5px 0;">
				<input type="text" ng-model="property.mysql_c_id" class="form-control" placeholder="Management Company Id" disabled>
			</div>
			<div class="row" style="padding: 3px 0;">
				<input type="text" ng-model="property.phoneNumber" class="form-control" placeholder="Phone Number" disabled>
			</div>
			<div class="row" style="padding: 5px 0;">
				<input type="text" ng-model="property.faxNumber" class="form-control" placeholder="Fax Number" disabled>
			</div>
			<div class="row" style="padding: 3px 0;">
				<input type="text" ng-m odel="property.email" class="form-control" placeholder="E-mail Address" disabled>
			</div>
			<div class="row" style="padding: 5px 0;">
				<input type="text" ng-model="property.secondaryEmail" class="form-control" placeholder="Secondary E-mail" disabled>
			</div>
		</div>
		<div class="col-md-6" style="padding: 0 40px 0 10px;">
			<div class="row" style="padding: 3px 0;">
				<input type="text" ng-model="property.invoiceEmail" class="form-control" placeholder="Invoice Email" disabled>
			</div>
			<div class="row" style="padding: 5px 0;">
				<input type="text" ng-model="property.status" class="form-control" placeholder="Status" disabled>
			</div>
			<div class="row" style="padding: 3px 0;">
				<input type="text" ng-model="property.state" class="form-control" placeholder="State" disabled>
			</div>
			<div class="row" style="padding: 5px 0;">
				<input type="text" ng-model="property.city" class="form-control" placeholder="City" disabled>
			</div>
			<div class="row" style="padding: 3px 0;">
				<input type="text" ng-model="property.streetAddress" class="form-control" placeholder="Street Address" disabled>
			</div>
			<div class="row" style="padding: 5px 0;">
				<input type="text" ng-model="property.zip" class="form-control" placeholder="Zip" disabled>
			</div>
		</div>
	</div>
</div>

