<div class="gray-header-area" style="margin-bottom: 8px;"></div>
<section data-ng-controller="UnitsController">
	<div class="container">
		<div class="sub-container" style=" margin-left: 10px;">
			<ol class="breadcrumb" style="margin-bottom: -15px;">
				<li><a href="#!/properties">Properties</a></li>
				<li class="active">{{property.propertyName}}</li>
			</ol>
			<div class="sub-header">
				<div class="pull-left" style="padding-top: 30px;">
					<h2 style="font-size: 45px; margin-top: 25px;" class="HelveticaNeueCyrThin">
						{{property.propertyName}}
					</h2>
				</div>
				<div class="pull-right HelveticaNeue" style="margin-right: 2px;">
					<div class="input-group" style="margin-top: 10px; width: 320px; margin-left: 39px;">
						<input type="text" ng-model="search" class="form-control search" ng-keypress="searchWithText($event)" placeholder="Search..." style="height: 50px;">
						<span class="input-group-btn">
							<button class="btn btn-success" ng-click="searchUnits()" style="font-size: 23px; padding: 9px 15px;"><i class="fa fa-search"></i></button>
						</span>
					</div>
					<div style="margin-top: 10px;" class="text-right">
						<button type="button" class="btn btn-large btn-gray HelveticaNeue" style="padding: 15px 32px;" ng-click="openPropertyInfo()">Property Info</button>
						<button type="button" class="btn btn-large btn-success upper-letters HelveticaNeue" style="padding: 15px 40px;" ng-click="openUnitModal()">Add new unit</button>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="list-table" style="margin-top: 40px;">
				<div class="table-responsive HelveticaNeue">
					<table class="table table-hover" st-pipe="findUnits" st-table="units" st-safe-src="units">
						<thead class="gray-bg">
						<tr>
							<th class="sortable cursor-pointer" st-sort-default="unitNumber" st-sort="unitNumber">Unit #</th>
							<th class="sortable cursor-pointer" st-sort="buildingNumber">Unit Address</th>
							<th>Resident Name</th>
							<th class="sortable cursor-pointer" st-sort="moveInDate">Move in</th>
							<th class="sortable cursor-pointer" st-sort="moveOutDate">Move out</th>
							<th>Unit Status</th>
							<th class="text-center">Action</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="unit in units">
							<td class="middle-align">{{unit.unitNumber}}</td>
							<td class="middle-align">{{unit.buildingNumber}}</td>
							<td class="middle-align">
								<a class="green-text" href="#!/properties/{{property._id}}/units/{{unit._id}}/{{unit.resident._id}}/insurances" ng-if="unit.resident">
									{{unit.resident.displayName}}
								</a>
								<button class="btn btn-success" ng-if="!unit.resident" ng-click="displayExtraResidentModal(unit)" style="padding: 15px 19px;">Add resident</button>
							</td>
							<td class="middle-align">{{unit.moveInDate | date: 'MMM d, yyyy'}}</td>
							<td class="middle-align">{{unit.moveOutDate | date: 'MMM d, yyyy'}}</td>
							<td class="middle-align">{{unit.resident?'occupied': 'vacant'}}</td>
							<td class="middle-align text-center">
								<div class="green-btn" style="cursor: pointer;" ng-click="removeUnit(unit)">
									<span class="glyphicon glyphicon-trash"></span>
								</div>
								<div class="green-btn" style="cursor: pointer;" ng-click="openUnitModal(unit)">
									<i class="edit-icon"></i>
								</div>
							</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<td class="text-center" colspan="7">
								<p style="color: #666; font-size: 12px; text-align: left;">Total: {{totalItems}}</p>
								<nav ng-if="numberOfPages && pages.length >= 2">
									<ul class="pagination">
										<li ng-repeat="page in pages" class="page-item" ng-class="{active: page==currentPage}">
											<a href="javascript: void(0);" ng-click="selectPage(page)">{{page}}</a>
										</li>
									</ul>
								</nav>
							</td>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
