<div class="modal-body row">
	<i ng-click="cancel()" class="glyphicon glyphicon-remove icon-close-right pull-right" style="cursor: pointer; font-size: 22px; font-weight: normal; z-index: 2; margin-right: -15px; margin-top: -16px;"></i>
	<div style="padding-left: 60px; padding-right: 65px;">
		<div class="HelveticaNeueCyrThin">
			<h2 style="font-size: 60px; padding: 17px 0px;">{{title}}</h2>
		</div>
		<div class="HelveticaNeueCyrLight" style="margin-top: 27px;">
			<p style="background-color: #F7F8FA;text-align: center; padding: 11px; font-size: 19px;">{{content}}</p>
		</div>
		<div class="text-right" style="margin-top: 60px; margin-bottom: 55px;">
			<button class="btn btn-enroll btn-lg upper-letters" type="button" ng-click="cancel()" style="padding: 15px 40px;">Cancel</button>
			<button class="btn btn-success btn-lg upper-letters" type="button" ng-click="confirmData()" style="padding: 15px 38px; font-size: 14px; margin-left: 15px;">Confirm</button>
		</div>
	</div>
</div>
