<div class="modal-header">
	<i ng-click="cancel()" class="glyphicon glyphicon-remove icon-arrow-right pull-right" style="cursor: pointer; font-size: 22px; font-weight: normal;"></i>
	<h3 class="modal-title">Insurance</h3>
</div>
<div class="modal-body row">
	<div class="col-md-6">
		<div class="form-group no-margin">
			<input type="text" id="insuranceName" name="insuranceName" class="form-control" data-ng-model="insurance.insuranceName" placeholder="Insurance Company">
			<span class="text-danger text-left" ng-if="errorInsuranceName">Please enter insurance company.</span>
		</div>
		<div class="form-group no-margin" ng-if="authentication.user.roles.indexOf('admin')>-1 || authentication.user.roles.indexOf('pmanager')>-1">
			<input type="text" ng-model="insurance.unitNumber" placeholder="Unit #" typeahead="unit as unit.unitNumber for unit in getUnits($viewValue)" typeahead-loading="loadingUnits" class="form-control">
			<i ng-show="loadingUnits" class="glyphicon glyphicon-refresh"></i>
			<span class="text-danger text-left" ng-if="errorUnitNumber">Please enter unit number.</span>
		</div>
		<div class="form-group no-margin" ng-if="authentication.user.roles.indexOf('user')>-1">
			<input type="text" ng-model="insurance.unitNumber" placeholder="Unit #" class="form-control">
			<span class="text-danger text-left" ng-if="errorUnitNumber">Please enter unit number.</span>
		</div>
		<div class="form-group no-margin">
			<input type="text" id="policyHolderName" name="policyHolderName" class="form-control" data-ng-model="insurance.policyHolderName" placeholder="Policy's Holder Name">
			<span class="text-danger text-left" ng-if="errorPolicyHolderName">Please enter policy's holder name.</span>
		</div>
		<div class="form-group no-margin">
			<input type="text" id="policyNumber" name="policyNumber" class="form-control" data-ng-model="insurance.policyNumber" placeholder="Policy Number">
			<span class="text-danger text-left" ng-if="errorPolicyNumber">Please enter policy number.</span>
		</div>
		<div class="row">
			<div class="form-group  col-md-6 datepicker-popup">
				<input type="text" class="form-control" datepicker-popup ng-model="insurance.policyStartDate" placeholder="Policy Start Date"
					   is-open="fromElements.opened" max-date="insurance.policyEndDate" close-text="Close" show-button-bar="false"
					   datepicker-options="datePickerOptions" ng-focus="from_open($event)"/>
				<span class="text-danger text-left" ng-if="errorPolicyStartDate">Please enter start date.</span>
			</div>
			<div class="form-group col-md-6 datepicker-popup">
				<input type="text" class="form-control" datepicker-popup ng-model="insurance.policyEndDate" placeholder="Policy End Date"
					   is-open="toElements.opened" min-date="insurance.policyStartDate" close-text="Close" show-button-bar="false"
					   datepicker-options="datePickerOptions" ng-focus="to_open($event)"/>
				<span class="text-danger text-left" ng-if="errorPolicyEndDate">Please enter end date.</span>
			</div>
		</div>
		<div class="form-group">
			<div ngf-drop ngf-select="uploadFiles($files)" class="drop-box"
				 ngf-drag-over-class="'dragover'" ngf-multiple="false"
				 ngf-pattern="'image/*,application/pdf'" ng-model="file" style="cursor: pointer;">Upload Insurance Certificate</div>
			<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
			<h3>{{file.name}} {{f.$error}} {{f.$errorParam}}</h3>
			<div class="status">{{file.status}}</div>
			<div class="progress-bar">
				<div class="progress" style="width: {{file.progress}}%" ng-init="progress=0"></div>
			</div>
			<span class="text-danger text-left" ng-if="errorInsuranceFile">Please upload insurance file.</span>
		</div>
	</div>
	<div class="col-md-6" style="min-height: 500px; overflow: auto; border-left: 2px solid #ccc;">
		<img ngf-src="insurance.insuranceFilePath" style="width: 100%;" ng-if="insurance.insuranceFilePath.indexOf('pdf')<0">
		<iframe ngf-src="insurance.insuranceFilePath" frameBorder="0" width="100%" height="100%" ng-if="insurance.insuranceFilePath.indexOf('pdf')>-1" style="min-height: 500px;"></iframe>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-success btn-lg" type="button" ng-click="saveInsurance()">Save</button>
	<button class="btn btn-default btn-lg custom-gray-btn" type="button" ng-click="cancel()">Cancel</button>
</div>
