<div class="gray-header-area"></div>
<section data-ng-controller="ManagerInsurancesController" data-ng-init="findPolicies()">
	<div class="sub-container" style="margin-top: 20px;">
		<alert ng-repeat="alert in alerts" type="success">{{alert.msg}}</alert>
		<ol class="breadcrumb">
			<li><a href="#!/properties">Properties</a></li>
			<li><a href="#!/properties/{{property._id}}/units">{{property.propertyName}}</a></li>
			<li class="active">{{unit.resident.displayName}}</li>
		</ol>
		<div class="sub-header">
			<h3 class="pull-left">{{unit.resident.displayName}}</h3>
			<div class="pull-right">
				<button type="button" class="btn btn-large custom-gray-btn" style="padding: 15px; border: 1px solid; margin-right: 10px;" ng-click="openResidentInfo()">Resident info</button>
				<button type="button" class="btn btn-large btn-success" style="padding: 15px;" ng-click="openInsuranceModal()">Add Insurance</button>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="">
			<div class="policy-list">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
						<tr>
							<th class="text-center">Coverage Name</th>
							<th class="text-center">Expiration Date</th>
							<th class="text-center">Status</th>
							<th class="text-center">Certificate</th>
							<th class="text-center">Notes</th>
							<th class="text-center">Actions</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="insurance in insurances">
							<td class="text-center">{{insurance.insuranceName}}</td>
							<td class="text-center">{{insurance.policyEndDate | date: 'MMM d, yyyy'}}</td>
							<td class="text-center">
								<span ng-if="authentication.user.roles.indexOf('admin')<0">{{insurance.status}}</span>
								<select class="form-control" ng-model="insurance.status" ng-change="updateInsuranceStatus(insurance)" ng-if="authentication.user.roles.indexOf('admin')>-1">
									<option value="approved">Approved</option>
									<option value="rejected">Rejected</option>
									<option value="pending">Pending</option>
									<option value="expired">Expired</option>
								</select>
							</td>
							<td class="text-center"><a style="cursor: pointer" ng-click="viewInsuranceCertificate(insurance.insuranceFilePath)"><span class="glyphicon glyphicon-file" ng-if="insurance.insuranceFilePath"></span></a></td>
							<td><a style="cursor: pointer;" ng-click="viewInsuranceNotes(insurance.notes)"><span class="glyphicon glyphicon-list-alt" ng-if="insurance.notes"></span></a></td>
							<td class="text-center">
								<a style="cursor: pointer" ng-click="removeInsurance(insurance._id, $index)"><span class="glyphicon glyphicon-trash"></span></a> |
								<a style="cursor: pointer" ng-click="openInsuranceModal(insurance)"><span class="glyphicon glyphicon-pencil"></span> </a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
