<div class="gray-header-area" style="margin-bottom: 8px;"></div>
<section data-ng-controller="ManagerInsurancesController">
	<div class="container">
		<div class="sub-container" style=" margin-left: 10px;">
			<alert ng-repeat="alert in alerts" type="success">{{alert.msg}}</alert>
			<ol class="breadcrumb" style="margin-bottom: -15px;">
				<li><a href="#!/properties">Properties</a></li>
				<li><a href="#!/properties/{{property._id}}/units">{{property.propertyName}}</a></li>
				<li class="active">{{unit.resident.displayName}}</li>
			</ol>
			<div class="sub-header">
				<div class="pull-left" style="padding-top: 36px;">
					<h2 style="font-size: 45px;" class="HelveticaNeueCyrThin">
						{{unit.resident.displayName}}
					</h2>
				</div>
				<div class="pull-right HelveticaNeue" style="margin-right: 2px;">
					<div class="input-group" style="margin-top: 10px; width: 320px; margin-left: 146px;">
						<input type="text" ng-model="search" class="form-control search" ng-keypress="searchManagerInsuranceWithText($event)" placeholder="Search..." style="height: 50px;">
						<span class="input-group-btn">
							<button class="btn btn-success" ng-click="searchManagerInsurance()" style="font-size: 23px; padding: 9px 14px;"><i class="fa fa-search"></i></button>
						</span>
					</div>
					<div style="margin-top: 10px;" class="text-right">
						<button type="button" class="btn btn-large btn-gray" style="padding: 15px 35px;" ng-click="openResidentInfo()">Resident info</button>
						<button type="button" class="btn btn-large btn-success upper-letters" style="padding: 15px 43px;" ng-click="openInsuranceModal()">Add Insurance Certificate</button>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="">
				<div class="policy-list list-table">
					<div class="table-responsive">
						<table class="table table-hover" st-pipe="findPolicies" st-table="insurances" st-safe-src="insurances">
							<thead class="gray-bg">
							<tr>
								<th class="sortable cursor-pointer" st-sort="insuranceName" st-sort-default="insuranceName" >Insurance Company</th>
								<th class="sortable cursor-pointer" st-sort="policyEndDate">Expiration Date</th>
								<th class="sortable cursor-pointer text-center" st-sort="status">Status</th>
								<th class="sortable cursor-pointer" st-sort="created">Date (adding)</th>
								<th class="text-center">Edit</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="insurance in insurances">
								<td class="middle-align">
									<a class="green-text">{{insurance.insuranceName}}</a>
								</td>
								<td class="middle-align">{{insurance.policyStartDate | date: 'MMM d, yyyy'}} - {{insurance.policyEndDate | date: 'MMM d, yyyy'}}</td>
								<td class="text-center middle-align">
									<span class="insurance-status {{insurance.status}}">{{insurance.status}}</span>
								</td>
								<td class="middle-align">
									{{insurance.created | date: 'MMM d, yyyy'}}
								</td>
								<td class="text-center">
									<div class="green-btn" style="cursor: pointer;" ng-click="openInsuranceModal(insurance)">
										<i class="edit-icon"></i>
									</div>
								</td>
							</tr>
							</tbody>
							<tfoot>
							<tr>
								<td class="text-center" colspan="7">
									<p style="color: #666; font-size: 12px; text-align: left;">Total: {{totalItems}}</p>
									<nav ng-if="numberOfPages && pages.length >= 2">
										<ul class="pagination">
											<li ng-repeat="page in pages" class="page-item" ng-class="{active: page==currentPage}"><a href="javascript: void(0);" ng-click="selectManagerPage(page)">{{page}}</a></li>
										</ul>
									</nav>
								</td>
							</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
