<div class="modal-body row">
	<i ng-click="cancel()" class="glyphicon glyphicon-remove icon-close-right pull-right" style="cursor: pointer; font-size: 22px; font-weight: normal; z-index: 2; margin-right: -15px; margin-top: -16px;"></i>
	<div style="padding: 16px 61px;">
		<div class="HelveticaNeueCyrThin">
			<h2 style="font-size: 60px;">Notes</h2>
		</div>

		<div class="table-responsive" style="margin-top: 42px;">
			<table st-table="policies" class="table HelveticaNeue">
				<thead class="gray-bg">
				<tr>
					<th>Subject</th>
					<th>Date</th>
					<th>Comment</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="note in notes">
					<td>{{note.subject}}</td>
					<td>{{note.created | date: 'MM/dd/yyyy'}}</td>
					<td>{{note.content}}</td>
				</tr>
				</tbody>
				<tfoot>
				<tr>
					<td colspan="3"></td>
				</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
