<div class="gray-header-area"></div>
<section data-ng-controller="PMInsurancesController">
	<div class="container"  style="margin-top: 65px;">
		<div class="sub-container" style=" margin-left: 10px;">
			<div class="sub-header">
				<div class="pull-left">
					<h2 style="font-size: 45px;" class="HelveticaNeueCyrThin">{{property.propertyName}}</h2>
				</div>
				<div class="pull-right" style="width: 320px; margin-right: 5px;">
					<div class="input-group" style="margin-top: 5px;">
						<input type="text" ng-model="search" class="form-control search" ng-keypress="searchWithText($event)" placeholder="Search..." style="height: 50px;">
						<span class="input-group-btn">
							<button class="btn btn-success" ng-click="searchInsurance()" style="font-size: 23px; padding: 9px 15px;"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="maincontent-area list-table" style="padding: 0;">
				<p class="table-responsive">
					<table class="table table-hover" st-pipe="findPMPropertyInsurances" st-table="insurances" st-safe-src="insurances">
						<thead class="gray-bg">
						<tr>
							<th style="cursor: pointer" st-sort="unitNumber" class="sortable">Unit #</th>
							<th style="cursor: pointer" st-sort="residentName" class="sortable">Resident Name</th>
							<th style="cursor: pointer" st-sort="insuranceName" class="sortable">Insurance Company</th>
							<th style="cursor: pointer" st-sort="policyEndDate" class="sortable">Expiration Date</th>
							<th style="cursor: pointer" st-sort="status" class="sortable">Status</th>
							<th class="sortable" style="cursor: pointer" st-sort="created">Date (adding)</th>
							<th class="text-center">Certificate, Notes</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="insurance in insurances">
							<td class="td-hover middle-align" ng-click="viewDetailInsurance(insurance)">{{insurance.unitNumber}}</td>
							<td class="td-hover middle-align" ng-click="viewDetailInsurance(insurance)">{{insurance.user.displayName || insurance.residentName}}</td>
							<td class="td-hover middle-align" ng-click="viewDetailInsurance(insurance)">{{insurance.insuranceName}}</td>
							<td class="td-hover middle-align" ng-click="viewDetailInsurance(insurance)">{{insurance.policyEndDate | date: 'MM/dd/yyyy'}}</td>
							<td class="td-hover text-center middle-align" ng-click="viewDetailInsurance(insurance)">
								<span class="insurance-status {{insurance.status}}">{{insurance.status}}</span>
							</td>
							<td class="td-hover middle-align" ng-click="viewDetailInsurance(insurance)">{{insurance.created | date: 'MM/dd/yyyy'}}</td>
							<td class="text-center middle-align">
								<div class="certificate-btn" style="cursor: pointer;" ng-click="viewInsuranceCertificate(insurance)">
									<i class="certificate-icon"></i>
								</div>
								<div class="note-btn" style="cursor: pointer;" ng-click="viewInsuranceNotes(insurance.notes)">
									<i class="note-icon"></i>
								</div>
							</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="7" class="text-center new-pagination">
								<p style="color: #666; font-size: 12px; text-align: left;">Total: {{totalItems}}</p>
								<nav ng-if="numberOfPages && pages.length >= 2">
									<ul class="pagination">
										<li ng-repeat="page in pages" class="page-item" ng-class="{active: page==currentPage}"><a href="javascript: void(0);" ng-click="selectPage(page)">{{page}}</a></li>
									</ul>
								</nav>
							</td>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
