<div class="gray-header-area"></div>
<section data-ng-controller="InsurancesController" data-ng-init="findPolicies()">
	<div style="margin-top: 20px;">
		<div class="sub-header">
			<div class="pull-left">
				<h2 style="font-size: 50px;" class="HelveticaNeue">Coverage History</h2>
			</div>
			<div class="pull-right">
				<button type="button" class="btn btn-large btn-success btn-block" style="padding: 15px; margin-top: 20px;" ng-click="openInsuranceModal()">Add Insurance Certificate</button>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="">
			<div ng-if="policies.$resolved && !policies.length" class="text-center" style="color: #7a7a7a; padding-top: 50px">
				<span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 50px;"></span>
				<p>You don't have uploaded insurances.</p>
				<p>Add your first insurance.</p>
			</div>
			<div class="policy-list" ng-if="policies.$resolved && policies.length>0">
				<div class="table-responsive">
					<table st-table="policies" class="table table-hover">
						<thead class="gray-bg">
						<tr>
							<th style="cursor: pointer" st-sort="insuranceName" class="sortable">Insurance Company</th>
							<th style="cursor: pointer" st-sort="policyEndDate" class="sortable">Expiration Date</th>
							<th style="cursor: pointer" st-sort="status" class="sortable">Status</th>
							<th style="cursor: pointer" st-sort="created" class="sortable">Date(adding)</th>
							<th>Edit</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="policy in policies">
							<td class="middle-align"><a href="" class="green-color-link">{{policy.insuranceName}}</a></td>
							<td class="middle-align">{{policy.policyStartDate | date: 'MMM d, yyyy'}} - {{policy.policyEndDate | date: 'MMM d, yyyy'}}</td>
							<td class="middle-align text-center"><span class="insurance-status {{policy.status}}">{{policy.status}}</span></td>
							<td class="middle-align">{{policy.created | date: 'MMM d, yyyy'}}</td>
							<td>
								<a class="green-btn" href="#!/insurances/{{policy._id}}"><span class="glyphicon glyphicon-pencil"></span></a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
