<div class="gray-header-area"></div>
<section data-ng-controller="InsurancesController" data-ng-init="findPolicies()">
	<div class="sub-container" style="margin-top: 20px;">
		<div class="sub-header">
			<div class="pull-left">
				<h4><strong>Property Code:</strong> {{ property.propertyCode }}</h4>
				<h4><strong>Property Name:</strong> {{ property.propertyName }}</h4>
				<h3>Coverage History</h3>
			</div>
			<div class="pull-right">
				<button type="button" class="btn btn-large btn-success btn-block" style="padding: 15px;" ng-click="openInsuranceModal()">Add Insurance Certificate</button>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="">
			<div ng-if="policies.$resolved && !policies.length" class="text-center" style="color: #7a7a7a; padding-top: 50px">
				<span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 50px;"></span>
				<p>You don't have uploaded insurances.</p>
				<p>Add your first insurance.</p>
			</div>
			<div class="policy-list" ng-if="policies.$resolved && policies.length>0">
				<div class="table-responsive">
					<table st-table="policies" class="table table-striped">
						<thead>
						<tr>
							<th>Insurance Company</th>
							<th>Status</th>
							<th>Expiration Date</th>
							<th>Actions</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="policy in policies">
							<td>{{policy.insuranceName}}</td>
							<td>{{policy.status}}</td>
							<td>{{policy.policyEndDate | date: 'MMM d, yyyy'}}</td>
							<td>
								<a href="#!/insurances/{{policy._id}}">View Details</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
