<div class="modal-body">
	<div class="row">
		<i ng-click="cancel()" class="glyphicon glyphicon-remove icon-close-right pull-right" style="cursor: pointer; font-size: 22px; z-index: 2; margin-right: -15px; margin-top: -16px;"></i>
		<div class="col-md-12" style="margin-top: 15px; margin-bottom: 45px; padding: 0 45px;">
			<div class="col-md-8">
				<h2 class="HelveticaNeueCyrThin" style="font-size: 50px; margin: -6px 0 0;">Insurance Certificate</h2>
			</div>
			<div class="col-md-4 text-right HelveticaNeue">
				<span class="HelveticaNeueCyrLight" style="font-size: 19px; color: #ababab; vertical-align: bottom;">Unit # </span>
				<input type="text" ng-model="insurance.unitNumber" placeholder="Unit #"
					   typeahead="unit as unit.unitNumber for unit in units | filter:{unitNumber: $viewValue}" class="form-control"
					   style="display: inline-block; width: 120px;">
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="row" style="margin-bottom: 12px; min-height: 350px; padding: 0 48px;">
		<div class="col-md-5" style="padding-right: 47px;">
			<img ngf-src="insurance.insuranceFilePath" style="width: 100%; margin-bottom: 20px;" ng-if="insurance.insuranceFilePath.indexOf('pdf')<0">
			<div ng-if="insurance.insuranceFilePath && insurance.insuranceFilePath !== ''" style="position: relative;">
				<div ngf-drop ngf-select="uploadFiles($files)" class="drop-box"
					 ngf-drag-over-class="'dragover'" ngf-multiple="false"
					 ngf-pattern="'image/*,application/pdf'" ng-model="file" style="background-color: #90bf63; color: #fff; cursor: pointer; margin-top: -50px; margin-left: -10px; margin-right: -10px;">
					<div>
						<p class="upper-letters">Upload Another Insurance Certificate</p>
					</div>
				</div>
				<p>{{file.name}} {{f.$error}} {{f.$errorParam}}</p>
				<div class="status">{{file.status}}</div>
				<div class="progress-bar">
					<div class="progress" style="width: {{file.progress}}%" ng-init="progress=0"></div>
				</div>
			</div>
			<iframe ngf-src="insurance.insuranceFilePath" frameBorder="0" width="100%" height="100%" ng-if="insurance.insuranceFilePath.indexOf('pdf')>-1" style="min-height: 500px;"></iframe>
			<div class="form-group" ng-class="{upload_area: (!insurance.insuranceFilePath||insurance.insuranceFilePath==='')}"
				 ng-if="!insurance.insuranceFilePath||insurance.insuranceFilePath===''" style="">
				<div ngf-drop ngf-select="uploadFiles($files)" class="drop-box"
					 ngf-drag-over-class="'dragover'" ngf-multiple="false"
					 ngf-pattern="'image/*,application/pdf'" ng-model="file" style="cursor: pointer;">
					<div style="margin: 65px auto;" class="uploadbtn-area">
						<i class="camera-icon" style="border-radius: 50%; padding: 40px; color: #fff;"></i>
						<p style="width: 100px; margin: 14px auto; text-transform: uppercase; line-height: 1.2;">Upload Insurance Certificate</p>
					</div>
				</div>
				<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
				<p>{{file.name}} {{f.$error}} {{f.$errorParam}}</p>
				<div class="status">{{file.status}}</div>
				<div class="progress-bar">
					<div class="progress" style="width: {{file.progress}}%" ng-init="progress=0"></div>
				</div>
				<span class="text-danger text-left" ng-if="errorInsuranceFile">Please upload insurance file.</span>
			</div>
		</div>
		<div class="col-md-7" style="padding-left: 10px;">
			<div class="form-group no-margin">
				<input type="text" id="insuranceName" name="insuranceName" class="form-control" data-ng-model="insurance.insuranceName"
					   placeholder="Insurance Company" ng-class="{'invalid-field': errorInsuranceName}">
				<span class="text-danger text-left" ng-if="errorInsuranceName">Please enter insurance name.</span>
			</div>
			<div class="form-group no-margin">
				<input type="text" id="policyHolderName" name="policyHolderName" class="form-control" data-ng-model="insurance.policyHolderName"
					   placeholder="Policy's Holder Name" ng-class="{'invalid-field': errorPolicyHolderName}">
				<span class="text-danger text-left" ng-if="errorPolicyHolderName">Please enter policy's holder name.</span>
			</div>
			<div class="form-group no-margin">
				<input type="text" id="policyNumber" name="policyNumber" class="form-control" data-ng-model="insurance.policyNumber"
					   placeholder="Policy Number" ng-class="{'invalid-field': errorPolicyNumber}">
				<span class="text-danger text-left" ng-if="errorPolicyNumber">Please enter policy number.</span>
			</div>
			<div class="row">
				<div class="form-group col-md-6" style="padding-left: 0px; padding-right: 10px;">
					<div class="input-group datepicker-popup">
						<input type="text" class="form-control" datepicker-popup ng-model="insurance.policyStartDate" placeholder="Policy Start Date"
							   is-open="fromElements.opened" max-date="insurance.policyEndDate" close-text="Close" show-button-bar="false"
							   datepicker-options="datePickerOptions" ng-focus="from_open($event)" ng-class="{'invalid-field': errorPolicyStartDate}"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-calendar" ng-click="from_open($event)">
								<i class="calendar-icon"></i>
							</button>
						</span>
						<span class="text-danger text-left" ng-if="errorPolicyStartDate">Please enter start date.</span>
					</div>
				</div>
				<div class="form-group col-md-6" style="padding-left: 10px; padding-right: 0px;">
					<div class="input-group datepicker-popup">
						<input type="text" class="form-control" datepicker-popup ng-model="insurance.policyEndDate" placeholder="Policy End Date"
							   is-open="toElements.opened" min-date="insurance.policyStartDate" close-text="Close" show-button-bar="false"
							   datepicker-options="datePickerOptions" ng-focus="to_open($event)" ng-class="{'invalid-field': errorPolicyEndDate}"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-calendar" ng-click="to_open($event)">
								<i class="calendar-icon"></i>
							</button>
						</span>
						<span class="text-danger text-left" ng-if="errorPolicyEndDate">Please enter end date.</span>
					</div>
				</div>
			</div>
			<p style="padding: 11px 19px;"><span style="color: #bababa;">Your Property:</span> {{property.propertyName}}</p>
			<div class="text-right" style="margin-top: 29px;">
				<button class="btn btn-enroll btn-lg upper-letters" type="button" ng-click="saveInsurance()" style="padding: 15px 50px;">Save</button>
				<button class="btn btn-success btn-lg upper-letters" type="button" ng-click="submitInsurance()" style="padding: 15px 45px; font-size: 14px; margin-left: 15px;">Submit</button>
			</div>
		</div>
	</div>
</div>

