<div class="gray-header-area"></div>
<section data-ng-controller="ManagerInsurancesController">
	<div class="sub-container" style="margin-top: 20px;">
		<div class="sub-header">
			<h3 class="pull-left">Recent Insurances</h3>
		</div>
		<div class="clearfix"></div>
		<div class="">
			<div class="policy-list">
				<div class="table-responsive">
					<table class="table table-striped" st-pipe="findRecentInsurances" st-table="insurances" st-safe-src="insurances">
						<thead>
						<tr>
							<th>Name of Insurance</th>
							<th>Resident</th>
							<th>Status</th>
							<th>Expiration Date</th>
							<th>Actions</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="insurance in insurances">
							<td>{{insurance.insuranceName}}</td>
							<td>{{insurance.user.displayName}}</td>
							<td>{{insurance.status}}</td>
							<td>{{insurance.policyEndDate | date: 'MMM d, yyyy'}}</td>
							<td>
								<a href="#!/recent_insurances/{{insurance._id}}">View Details</a>
							</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<td class="text-center" colspan="5">
								<span class="pull-left" style="margin: 20px 0;">Total: {{totalItems}}</span>
								<nav class="pull-right" ng-if="numberOfPages >= 2">
									<ul class="pagination">
										</li><li><a ng-click="selectPage(currentPage - 1)">&lt;</a>
									</li><li><a>{{currentPage}} of {{numberOfPages}}</a>
									</li><li><a ng-click="selectPage(currentPage + 1)">&gt;</a>
									</ul>
								</nav>
							</td>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
