<div class="gray-header-area"></div>
<section data-ng-controller="ManagerInsurancesController">
	<div class="container">
		<div class="sub-container" style=" margin-left: 10px;">
			<alert ng-repeat="alert in alerts" type="success">{{alert.msg}}</alert>
			<div class="sub-header">
				<div class="pull-left" style="padding-top: 35px;">
					<h2 style="font-size: 45px;" class="HelveticaNeueCyrThin">Resident HO4 Coverage</h2>
				</div>
				<div class="pull-right" style="width: 320px; margin-right: 4px;">
					<div class="input-group" style="margin-top: 10px;">
						<input type="text" ng-model="search" class="form-control search" ng-keypress="searchWithText($event)" placeholder="Search..." style="height: 50px;">
						<span class="input-group-btn">
							<button class="btn btn-success" ng-click="searchInsurance()" style="font-size: 23px; padding: 9px 14px;"><i class="fa fa-search"></i></button>
						</span>
					</div>
					<div style="margin-top: 10px;" class="text-right">
						<label class="custom-select">
							<select class="form-control" ng-model="recent_insurance.filter" ng-change="filterByInsuranceStatus(recent_insurance.filter)" ng-if="authentication.user.roles.indexOf('admin')>-1" style="height: 50px;">
								<option value="pending">Pending</option>
								<option value="all">All</option>
								<option value="expired">Expired</option>
							</select>
						</label>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div>
				<div class="policy-list list-table">
					<div class="table-responsive">
						<table class="table table-hover" st-pipe="findRecentInsurances" st-table="insurances" st-safe-src="insurances">
							<thead class="gray-bg">
							<tr>
								<th class="sortable cursor-pointer" st-sort-default="propertyName" st-sort="propertyName">Property</th>
								<th class="sortable cursor-pointer" st-sort="unitNumber">Unit#,<br>Resident Name</th>
								<th class="sortable cursor-pointer" st-sort="insuranceName">Insurance Company</th>
								<th class="sortable cursor-pointer" st-sort="policyEndDate">Expiration Date</th>
								<th class="sortable cursor-pointer" st-sort="status">Status</th>
								<th class="sortable cursor-pointer" st-sort="residentName">Date (adding)</th>
								<th style="text-align: center;">Certificate,<br>Notes</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="insurance in insurances">
								<td class="td-hover middle-align" ng-click="viewDetailRecentInsurance(insurance)">{{insurance.propertyName}}</td>
								<td class="td-hover middle-align">
									<span class="green-text">{{insurance.unitNumber}}</span>
									<br>
									<a ng-click="openResidentEditor(insurance.user)">{{insurance.user.displayName}}</a>
								</td>
								<td class="td-hover middle-align" ng-click="viewDetailRecentInsurance(insurance)">{{insurance.insuranceName}}</td>
								<td class="td-hover middle-align" ng-click="viewDetailRecentInsurance(insurance)">{{insurance.policyEndDate | date: 'MM/dd/yyyy'}}</td>
								<td class="middle-align">
									<span ng-if="authentication.user.roles.indexOf('admin')<0">{{insurance.status}}</span>
									<label class="td-status-select">
										<select class="form-control" ng-model="insurance.status" ng-change="updateInsuranceStatus(insurance)" ng-if="authentication.user.roles.indexOf('admin')>-1">
											<option value="approved">Approved</option>
											<option value="rejected">Rejected</option>
											<option value="pending">Pending</option>
											<option value="expired">Expired</option>
											<option value="incomplete">Incomplete</option>
										</select>
									</label>
								</td>
								<td class="middle-align" ng-click="viewDetailRecentInsurance(insurance)">{{insurance.created | date: 'MM/dd/yyyy'}}</td>
								<td>
									<div class="certificate-btn" style="cursor: pointer;" ng-click="viewInsuranceCertificate(insurance)">
										<i class="certificate-icon"></i>
									</div>
									<div class="note-btn" style="cursor: pointer;" ng-click="viewInsuranceNotes(insurance.notes)">
										<i class="note-icon"></i>
									</div>
								</td>
							</tr>
							</tbody>
							<tfoot>
							<tr>
								<td class="text-center" colspan="7">
									<p style="color: #666; font-size: 12px; text-align: left;">Total: {{totalItems}}</p>
									<nav ng-if="numberOfPages && pages.length >= 2">
										<ul class="pagination">
											<li ng-repeat="page in pages" class="page-item" ng-class="{active: page==currentPage}"><a href="javascript: void(0);" ng-click="selectPage(page)">{{page}}</a></li>
										</ul>
									</nav>
								</td>
							</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
