<div class="gray-header-area"></div>
<section data-ng-controller="ManagerInsurancesController">
	<div class="sub-container" style="margin-top: 20px;">
		<alert ng-repeat="alert in alerts" type="success">{{alert.msg}}</alert>
		<ol class="breadcrumb">
			<li><a href="#!/residents">Residents</a></li>
			<li class="active">{{resident.user.displayName}}</li>
		</ol>
		<div class="sub-header">
			<p>Unit#: {{unit.unitNumber}}</p>
			<p>Property Name: {{unit.property.propertyName}}</p>
			<h3 class="pull-left">Resident HO4 Coverage</h3>
			<div class="pull-right">
				<button type="button" class="btn btn-large btn-success" style="padding: 15px;" ng-click="openResidentInsuranceModal()">Add Insurance Certificate</button>
			</div>
		</div>
		<div class="clearfix"></div>

		<div style="padding-top: 30px;">
			<div class="policy-list">
				<div class="table-responsive">
					<table class="table table-striped" st-pipe="findResidentInsurances" st-table="insurances" st-safe-src="insurances">
						<thead>
						<tr>
							<th st-sort-default="unitNumber" st-sort="unitNumber">Unit #</th>
							<th st-sort="residentName">Resident Name</th>
							<th st-sort="insuranceName">Coverage Name</th>
							<th st-sort="policyEndDate">Expiration Date</th>
							<th st-sort="status">Status</th>
							<th>Certificate</th>
							<th>Notes</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="insurance in insurances">
							<td ng-click="viewDetailResidentInsurance(insurance)">{{insurance.unitNumber}}</td>
							<td ng-click="viewDetailResidentInsurance(insurance)">{{insurance.user.displayName}}</td>
							<td ng-click="viewDetailResidentInsurance(insurance)">{{insurance.insuranceName}}</td>
							<td ng-click="viewDetailResidentInsurance(insurance)">{{insurance.policyEndDate | date: 'MMM d, yyyy'}}</td>
							<td>
								<select class="form-control" ng-model="insurance.status" ng-change="updateInsuranceStatus(insurance)">
									<option value="approved">Approved</option>
									<option value="rejected">Rejected</option>
									<option value="pending">Pending</option>
									<option value="expired">Expired</option>
									<option value="incomplete">Incomplete</option>
								</select>
							</td>
							<td>
								<a style="cursor: pointer;" ng-click="viewInsuranceCertificate(insurance.insuranceFilePath)"><span class="glyphicon glyphicon-file" ng-if="insurance.insuranceFilePath"></span></a>
							</td>
							<td>
								<a style="cursor: pointer;" ng-click="viewInsuranceNotes(insurance.notes)"><span class="glyphicon glyphicon-list-alt" ng-if="insurance.notes"></span></a>
							</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<td class="text-center" colspan="7">
								<span class="pull-left" style="margin: 20px 0;">Total: {{totalItems}}</span>
								<nav class="pull-right" ng-if="numberOfPages >= 2">
									<ul class="pagination">
										<li><a ng-click="selectPage(currentPage - 1)">&lt;</a></li>
										<li><a>{{currentPage}} of {{numberOfPages}}</a></li>
										<li><a ng-click="selectPage(currentPage + 1)">&gt;</a></li>
									</ul>
								</nav>
							</td>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
