<div class="modal-body">
	<div class="row">
		<i ng-click="cancel()" class="glyphicon glyphicon-remove icon-close-right pull-right" style="cursor: pointer; font-size: 22px; z-index: 2; margin-right: -15px; margin-top: -16px;"></i>
		<div class="col-md-12" style="margin-bottom: 37px; padding: 0 60px;">
			<h2 class="HelveticaNeueCyrThin" style="font-size: 60px; margin: 0px;">{{resident.user.displayName}}</h2>
		</div>
	</div>
	<div class="row HelveticaNeue" style="margin-bottom: 30px; padding: 0 25px;">
		<div class="col-md-6" style="padding: 0 12px 0 40px;">
			<div class="row" style="padding: 5px 0;">
				<input type="text" ng-model="resident.user.firstName" class="form-control" placeholder="First Name" disabled>
			</div>
			<div class="row" style="padding: 5px 0;">
				<input type="text" ng-model="resident.user.lastName" class="form-control" placeholder="Last Name" disabled>
			</div>
			<div class="row" style="padding: 5px 0;">
				<input type="text" ng-model="resident.user.email" class="form-control" placeholder="E-mail" disabled>
			</div>
			<div class="row" style="padding: 5px 0;">
				<input type="text" ng-model="resident.user.propertyID" class="form-control" placeholder="Property ID" disabled>
			</div>
			<div class="row" style="padding: 5px 0;">
				<input type="text" ng-model="resident.user.appartmentNumber" class="form-control" placeholder="Apartment/Unit #" disabled>
			</div>
		</div>
		<div class="col-md-6" style="padding: 0 40px 0 10px;">
			<div class="row" style="padding: 5px 0;">
				<input type="text" ng-model="resident.phoneNumber" class="form-control" placeholder="Phone Number" disabled>
			</div>
			<div class="row" style="padding: 5px 0;">
				<input type="text" ng-model="resident.address" class="form-control" placeholder="Address" disabled>
			</div>
			<div class="row" style="padding: 5px 0;">
				<input type="text" ng-model="resident.city" class="form-control" placeholder="City" disabled>
			</div>
			<div class="row" style="padding: 5px 0;">
				<input type="text" ng-model="resident.state" class="form-control" placeholder="State" disabled>
			</div>
			<div class="row" style="padding: 5px 0;">
				<input type="text" ng-model="resident.zipcode" class="form-control" placeholder="Zip Code" disabled>
			</div>
		</div>
	</div>
</div>

