<section data-ng-controller="ContactController" class="contact-class row">
    <div class="slide-area-regular"></div>
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="col-md-10 col-sm-10 col-xs-12">
                <h1 class="page-title HelveticaNeue page-title"> Get In Touch</h1>
            </div>
            <div class="row-sep"></div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <p class="text-left">
                    We would love to hear from you! You can contact us using our contact details below or you can complete the contact form and we will get in touch with you shortly.
                </p>
            </div>
            <div class="row-sep"></div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <h2 class="bold-title">
                    We Are Avaiable:
                </h2>
                <h4 class="green-text bold">
                    Monday - Friday 8:00 AM - 5:00 PM MST
                </h4>
            </div>
            <div class="row-sep"></div>
            <div class="row-sep"></div>
            <div class="row-sep"></div>
            <div class="row-sep"></div>
            <div class="col-md-10 col-sm-10 col-xs-12 info-data">
                <span>Renters Compliance Portal</span>
                <span>260 S 2500 W Suite 303</span>
                <span>Pleasant Grove, Utah 84062</span>
                <div class="row-sep"></div>
                <span>(866) 395-1308</span>
                <span>renterscompliance@veracityins.com</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 ">
            <div class="row-sep"></div>
            <div class="row-sep"></div>
            <div class="row-sep"></div>
            <div class="row-sep"></div>

                <div class="contact-form-guests  row col-md-12">
                    <div class="col-md-12 brown-bgr ">
                        <div class="row-sep"></div>
                        <div class="row-sep"></div>
                        <h2 class="bold-title">
                            Contact Form
                        </h2>
                        <div class="row-sep"></div>
                        <div class="row-sep"></div>
                        <form action="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name*">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Phone*">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email*">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Message" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <input  type="submit" value="Send Message" class="reg-btn">
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</section>