<section data-ng-controller="FaqsController" class="extrapage-class">
    <div class="slide-area-regular"></div>
    <div class="sub-container HelveticaNeue" style="margin-bottom: 36px;">
		<div style="padding-left: 5px;">
			<div style="margin-top: 80px;">
				<h1 class="page-title HelveticaNeueCyrThin"> FAQ's</h1>
			</div>
			<div style="padding: 25px 0; font-size: 16px; color: #777; line-height: 1.2;">
				<p> If you have suggestions of other questions that would be helpful to have listed here, please email us at   renterscompliance@veracityins.com.
				</p>
			</div>
			<div style="padding: 8px 0;">
				<h2 class="HelveticaNeueCyrMedium" style="font-size: 26px; line-height: 1.3;">
					Why does Renters Compliance Portal need to be listed on my certificate of insurance and can it make changes to my policy?
				</h2>
				<p style="padding: 3px 0 0; font-size: 16px; margin: 0; color: #777; line-height: 1.3;">
					Renters Compliance Portal is required to be listed on the evidence of coverage so that we receive notice should your policy cancel or other coverage requirements change during the term of your apartment lease. Adding an “additional interest”, “interested party” or “certificate holder” to your policy does not allow that group to make changes on your policy.
				</p>
			</div>
			<div style="padding: 37px 0;">
				<h2 class="HelveticaNeueCyrMedium" style="font-size: 26px; line-height: 1.2;">
					If my insurance company won’t add Renters Compliance Portal as an “interested party” or “certificate holder” do I have to purchase insurance from a different company?
				</h2>
				<p style="padding: 2px 0 0; font-size: 16px; margin: 0; color: #777; line-height: 1.3;">
					In some cases there may be a misunderstanding of what is being requested. Typically, a phone call from one of our representatives to your agent can resolve this. If you are running into this issue, please contact Renters Compliance Portal, LLC and a representative will assist you in resolving it.
				</p>
			</div>
			<div style="padding: 8px 0;">
				<h2 class="HelveticaNeueCyrMedium" style="font-size: 26px;">
					Where do I get my “Renters ID number”?
				</h2>
				<p style="padding: 6px 0 0; font-size: 16px; margin: 0; color: #777; line-height: 1.3;">
					Your property manager will have your Renters ID number or you can contact Renters Compliance Portal. <br>Email: renterscompliance@veracityins.com Toll Free: (866) 395-1308.
				</p>
			</div>
			<div style="padding: 36px 0;">
				<h2 class="HelveticaNeueCyrMedium" style="font-size: 26px; line-height: 1.2;">
					How will I know when my Renters Insurance has been approved and the lease charge has been removed?
				</h2>
				<p style="padding: 4px 0 0; font-size: 16px; margin: 0; color: #777; line-height: 1.3;">
					Once your Renters Insurance policy is uploaded to the website, you will receive an email confirmation that your insurance has been approved or rejected. If the evidence of coverage doesn’t meet the property’s requirement’s you will be notified of the missing requirement(s) via email. A Renters Compliance Portal representative can assist you in making the necessary changes to your policy.
				</p>
			</div>
		</div>
    </div>
</section>
