<!--mainpage_header ||-->
<div data-ng-controller="FooterController" ng-if="authentication.user && !mainpage_header">
	<div class="text-center">
				<img src="modules/core/img/footer_logo.png" width="100">
				<p style="padding: 15px; color: #7a7a7a; font-size: 0.8em;">Copyright © 2005-2016, Renters Legal Liability LLC | All rights reserved</p>

	</div>
</div>
<!-- && !mainpage_header-->
<div ng-if="!authentication.user && !mainpage_header">
	<div class="footer-wrap">
		<div class="text-center footer-inner-wrap">
			<div class="col-md-12 z-index">
				<span class="footer-info-text white-text "> FOR MOR INFORMATION, CALL US </span>
			</div>
			<div class="col-md-12 z-index">
				<span class="footer-info-contact white-text "> 866.395.1308 </span>
			</div>

		</div>
	</div>
	<div class="container-fluid cool-dark">
		<div class="container">
			<div class="sub-container">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<img class="img-responsive text-center" src="modules/core/img/prev_logo.jpg">
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12">
					<div class="footer-menu-wrap">
						<div class="item">
							<a ng-href="/#!/">Home</a>
						</div>
						<div class="item">
							<a ng-href="/#!/services"  class="ng-scope">Services</a>
						</div>
						<div class="item">
							<a ng-href="/#!/privacy-policy">Privacy Policy</a>
						</div>
						<div class="item">
							<a ng-href="/#!/faqs">FAQs</a>
						</div>
						<div class="item">
							<a href="/#!/contact-us">Contact us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
