<div data-ng-controller="FooterController" ng-if="!authentication.user && !mainpage_header">
	<div class="footer-info text-center">
		<span class="glyphicon glyphicon-phone-alt"></span>
		<span>For more information, Call us <b>866.395.1308</b></span>
	</div>
	<div class="bottom-shadow"></div>
	<div class="sub-container">
		<ul class="list-inline navbar-text">
			<li>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">Services</a>
			</li>
			<li>
				<a href="#">Privacy Policy</a>
			</li>
			<li>
				<a href="#">FAQs</a>
			</li>
			<li>
				<a href="#">Contact us</a>
			</li>
		</ul>
		<p class="navbar-text copyright-field">Copyright © 2016, Renters Legal Liability LLC</p>
	</div>
</div>
<div ng-if="mainpage_header || authentication.user">
	<div class="text-center">
		<img src="modules/core/img/footer_logo.png" width="100">
		<p style="padding: 15px; color: #7a7a7a; font-size: 0.8em;">Copyright © 2005-2016, Renters Legal Liability LLC | All rights reserved</p>
	</div>
</div>
