
<div data-ng-controller="FooterController" ng-if="!authentication.user && !mainpage_header">
	<div class="footer-info text-center">
		<div class="gray-bg-area"></div>
		<span style="font-size: 38px; word-wrap: break-word; display: block; max-width: 720px; margin: 0px auto;">FOR MORE INFORMATION, CALL US <b>866.395.1308</b></span>
	</div>
	<div class="sub-container">
		<a href="/#!/" class="navbar-brand" style="padding: 15px 0;">
			<img class="img-responsive text-center" src="modules/core/img/landing_footer_logo.png" />
		</a>
		<div class="navbar-collapse collapse navbar-right" style="margin-top: -10px;" collapse="!isFooterCollapsed" ng-class="{'footer-menus': isFooterCollapsed }">
			<ul class="nav navbar-nav">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Services</a>
				</li>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
				<li>
					<a href="#">FAQs</a>
				</li>
				<li>
					<a href="#">Contact us</a>
				</li>
			</ul>
			<br>
			<p class="navbar-text pull-right">Copyright © 2016, Renters Legal Liability LLC</p>
		</div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle btn btn-default"  data-ng-click="toggleCollapsibleFooterMenu()">
				Menu
			</button>
		</div>
	</div>
</div>
<div ng-if="mainpage_header || authentication.user">
	<div class="footer-wrap">
		<div class="text-center footer-inner-wrap">
			<div class="col-md-12 z-index">
				<span class="footer-info-text white-text "> FOR MOR INFORMATION, CALL US </span>
			</div>
			<div class="col-md-12 z-index">
				<span class="footer-info-contact white-text "> 866.395.1308 </span>
			</div>

		</div>
	</div>
	<div class="container-fluid cool-dark">
		<div class="container">
			<div class="sub-container">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<img class="img-responsive text-center" src="modules/core/img/prev_logo.jpg">
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12">
					<div class="footer-menu-wrap">
						<div class="item">
							<a ng-href="/#!/">Home</a>
						</div>
						<div class="item">
							<a ng-href="/#!/services"  class="ng-scope">Services</a>
						</div>
						<div class="item">
							<a ng-href="/#!/privacy-policy">Privacy Policy</a>
						</div>
						<div class="item">
							<a ng-href="/#!/faqs">FAQs</a>
						</div>
						<div class="item">
							<a href="/#!/contact-us">Contact us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>