<div class="container" data-ng-controller="HeaderController" ng-class="{'hide-effect': hide_navigation, 'signup-header': signup_header || signin_header}">
	<div class="sub-container" ng-class="{'frontend-header': !authentication.user}">

		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()" ng-hide="mainpage_header && !authentication.user">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{{logo_link}}" class="navbar-brand" ng-class="{'logo-system': authentication.user}">
				<img class="img-responsive text-center" src="modules/core/img/logo.jpg" ng-click="ResetNavbar()"/>
			</a>

		</div>
		<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation" >
			<ul class="nav navbar-right" data-ng-if="menu.shouldRender(authentication.user);">
				<li class="text-right HelveticaNeue" style="text-align: right;">
					Call <span style="color: #6ec25e; font-weight: bold;">866.395.1308</span> if you have any questions
				</li>
				<li style="margin-top: 36px;" class="pull-right HelveticaNeueCyrLight">
					<ul class="nav navbar-nav upper-letters">
						<li ng-if="authentication.user.roles.indexOf('admin')>-1" ng-switch="item" ui-route="/resident_insurances" class="item upper-letters" ng-class="{active: current_route.includes('resident_insurances')}">
							<a href="/#!/resident_insurances" ng-switch-default>
								Resident HO4 Coverage
							</a>
						</li>
						<li ng-if="authentication.user.roles.indexOf('admin')>-1" ng-switch="item" ui-route="/properties" class="item upper-letters" ng-class="{active: ($uiRoute)}">
							<a href="/#!/properties" ng-switch-default>
								Properties
							</a>
						</li>
						<!--<li ng-if="authentication.user.roles.indexOf('admin')>-1" ng-switch="item" ui-route="/property_managers" class="item" ng-class="{active: ($uiRoute)}">
							<a href="/#!/property_managers" ng-switch-default>
								Property Managers
							</a>
						</li>
						<li ng-if="authentication.user.roles.indexOf('admin')>-1" ng-switch="item" ui-route="/residents" class="item" ng-class="{active: ($uiRoute)}">
							<a href="/#!/residents" ng-switch-default>
								Residents
							</a>
						</li>-->
						<li ng-if="authentication.user.roles.indexOf('user')>-1" ng-switch="item" ui-route="/insurances" class="item" ng-class="{active: current_route.includes('insurances')}">
							<a href="/#!/insurances" ng-switch-default style="font-size: 15px;">
								Coverage History
							</a>
						</li>
						<li ng-if="authentication.user.roles.indexOf('pmanager')>-1"
							ng-switch="item" ui-route="/property_insurances/{{current_property._id}}/insurances" class="dropdown upper-letters"
							dropdown ng-class="{active: current_route.includes('property_insurances')}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle style="padding-right: 90px; padding-left: 40px; position: relative;">
								{{current_property.propertyName}}
								<div style="border-left: 1px solid #fff; bottom: 0; padding: 15px 18px; position: absolute; right: 0; top: 0;">
									<span class="fa fa-angle-down" style="font-size: 23px;"></span>
								</div>
							</a>
							<ul class="dropdown-menu">
								<li ng-repeat="property in properties">
									<a href="/#!/property_insurances/{{property._id}}/insurances">
										{{property.propertyName}}
									</a>
								</li>
							</ul>
						</li>
						<li ng-switch="item" ui-route="/settings/profile" class="item upper-letters" ng-class="{active: ($uiRoute)}">
							<a href="/#!/settings/profile" ng-switch-default style="font-size: 15px; padding: 17px 40px 11px 67px; position: relative;">
								<i class="setting-icon" style="position: absolute; left: 38px; top: 15px;"></i>
								{{authentication.user.displayName}}
							</a>
						</li>
						<li ng-switch="item" class="item">
							<a href="/auth/signout" ng-switch-default style="font-size: 19px; padding: 15px 15px 8px;">
								<i class="log-out"></i>
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<!--data-ng-hide="authentication.user || mainpage_header || signup_header || signin_header"-->
			<ul class="nav navbar-nav navbar-right login-navbar" data-ng-hide="authentication.user">
				<li class="HelveticaNeue">
					Call <span style="color: #6ec25e; font-weight: bold;">866.395.1308</span> if you have any questions
				</li>
				<li style="padding-right: 6px; margin-bottom: 5px;" class="HelveticaNeue">
					<form class="form-inline login-form" data-ng-submit="signin()">
						<span class="fa fa-lock" style="color: #c7c7c7; font-size: 25px; margin-right: 5px; vertical-align: middle;"></span>
						<div class="form-group">
							<input type="email" class="form-control" placeholder="E-mail" data-ng-model="credentials.username">
						</div>
						<div class="form-group" style="margin-left: 5px;">
							<input type="password" class="form-control" placeholder="Password" data-ng-model="credentials.password">
						</div>
						<button type="submit" class="btn login-btn btn-success upper-letters">
							Login
						</button>

						<br>
						<div class="rememberme HelveticaNeue" style="font-size: 13px; margin-right: 125px; margin-top: 8px;">
							<strong class="text-center text-danger" data-ng-bind="error"></strong>
							<span>Remember me </span> <input type="checkbox">
						</div>
					</form>
				</li>
			</ul>
		</nav>
		<div class="row col-md-6 public_navigation HelveticaNeueCyrLight" data-ng-if="!menu.shouldRender(authentication.user)" ng-hide="hide_navigation">
			<div class="item" ng-class="{active: ($uiRoute)}" ui-route="/">
				<a ng-href="/#!/">Home</a>
			</div>
			<div class="item" ng-class="{active: ($uiRoute)}" ui-route="/services">
				<a ng-href="/#!/services"  class="ng-scope">Services</a>
			</div>
			<div class="item" ng-class="{active: ($uiRoute)}" ui-route="/privacy-policy" style="padding-left: 23px;">
				<a ng-href="/#!/privacy-policy">Privacy Policy</a>
			</div>
			<div class="item" ng-class="{active: ($uiRoute)}" ui-route="/faqs" style="padding-left: 21px;">
				<a ng-href="/#!/faqs">FAQs</a>
			</div>
			<div class="item" ng-class="{active: ($uiRoute)}" ui-route="/contact-us" style="padding-left: 20px;">
				<a href="/#!/contact-us">Contact us</a>
			</div>
		</div>
		<div data-ng-if="menu.shouldRender(authentication.user)">
			<style>
				.frontend-header::after{
					top: -25px !important;
				}
			</style>
		</div>
	</div>
</div>
