<div class="container" data-ng-controller="HeaderController" ng-class="{'hide-effect': hide_navigation}">
	<div class="sub-container" ng-class="{'frontend-header': !authentication.user}">

		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()" ng-hide="mainpage_header && !authentication.user">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{{logo_link}}" class="navbar-brand">
				<img class="img-responsive text-center" src="modules/core/img/prev_logo.jpg" ng-click="ResetNavbar()"/>
			</a>

		</div>
		<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation" >
			<ul class="nav navbar-right" data-ng-if="menu.shouldRender(authentication.user);">
				<li class="text-right">
					Call <span style="color: #6ec25e; font-weight: bold;">866.395.1308</span> if you have any questions
				</li>
				<li style="margin-top: 36px;" class="pull-right">
					<ul class="nav navbar-nav">
						<li ng-if="authentication.user.roles.indexOf('admin')>-1" ng-switch="item" ui-route="/resident_insurances" class="item" ng-class="{active: ($uiRoute)}">
							<a href="/#!/resident_insurances" ng-switch-default>
								Resident HO4 Coverage
							</a>
						</li>
						<li ng-if="authentication.user.roles.indexOf('admin')>-1" ng-switch="item" ui-route="/properties" class="item" ng-class="{active: ($uiRoute)}">
							<a href="/#!/properties" ng-switch-default>
								Properties
							</a>
						</li>
						<li ng-if="authentication.user.roles.indexOf('admin')>-1" ng-switch="item" ui-route="/property_managers" class="item" ng-class="{active: ($uiRoute)}">
							<a href="/#!/property_managers" ng-switch-default>
								Property Managers
							</a>
						</li>
						<li ng-if="authentication.user.roles.indexOf('admin')>-1" ng-switch="item" ui-route="/residents" class="item" ng-class="{active: ($uiRoute)}">
							<a href="/#!/residents" ng-switch-default>
								Residents
							</a>
						</li>
						<li ng-if="authentication.user.roles.indexOf('user')>-1" ng-switch="item" ui-route="/insurances" class="item" ng-class="{active: current_route.includes('insurances')}">
							<a href="/#!/insurances" ng-switch-default>
								Coverage History
							</a>
						</li>
						<li ng-if="authentication.user.roles.indexOf('pmanager')>-1"
							ng-switch="item" ui-route="/property_insurances/{{current_property._id}}/insurances" class="dropdown" dropdown ng-class="{active: current_route.includes('property_insurances')}">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle style="padding-right: 65px; position: relative;">
								{{current_property.propertyName}}
								<div style="border-left: 1px solid #fff; bottom: 0; padding: 17px 15px; position: absolute; right: 0; top: 0;">
									<span class="glyphicon glyphicon-menu-down"></span>
								</div>
							</a>
							<ul class="dropdown-menu">
								<li ng-repeat="property in properties">
									<a href="/#!/property_insurances/{{property._id}}/insurances">
										{{property.propertyName}}
									</a>
								</li>
							</ul>
						</li>
						<li ng-switch="item" ui-route="/settings/profile" class="item" ng-class="{active: ($uiRoute)}">
							<a href="/#!/settings/profile" ng-switch-default>
								<i class="fa fa-gear" style="margin-right: 10px;"></i>{{authentication.user.displayName}}
							</a>
						</li>
						<li ng-switch="item" class="item">
							<a href="/auth/signout" ng-switch-default>
								<i class=" glyphicon glyphicon-log-out"></i>
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<!--data-ng-hide="authentication.user || mainpage_header || signup_header || signin_header"-->
			<ul class="nav navbar-nav navbar-right login-navbar" data-ng-hide="authentication.user">
				<li>
					Call <span style="color: #6ec25e; font-weight: bold;">866.395.1308</span> if you have any questions
				</li>
				<li>
					<form class="form-inline login-form" data-ng-submit="signin()">
						<div class="pull-left">
							<span class="glyphicon glyphicon-lock" style="color: #c7c7c7;"></span>
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email" data-ng-model="credentials.username">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password" data-ng-model="credentials.password">
							</div>
							<div class="rememberme"><span>Remember me </span>
								<div class="squaredTwo">
									<input type="checkbox" value="None" id="squaredTwo" name="check" />
									<label for="squaredTwo"></label>
								</div>
							</div>
						</div>
						<div class="pull-left">
							<button type="submit" class="btn btn-success login-btn green-btn-color" ng-model="smb">
								Login
							</button>
						</div>
					</form>
				</li>
			</ul>
		</nav>
		<div class="row col-md-6 public_navigation" data-ng-if="!menu.shouldRender(authentication.user)" ng-hide="hide_navigation">
			<div class="item">
				<a ng-href="/#!/">Home</a>
			</div>
			<div class="item">
				<a ng-href="/#!/services"  class="ng-scope">Services</a>
			</div>
			<div class="item">
				<a ng-href="/#!/privacy-policy">Privacy Policy</a>
			</div>
			<div class="item">
				<a ng-href="/#!/faqs">FAQs</a>
			</div>
			<div class="item">
				<a href="/#!/contact-us">Contact us</a>
			</div>
		</div>
		<div data-ng-if="menu.shouldRender(authentication.user)">
			<style>
				.frontend-header::after{
					top: -25px !important;
				}
			</style>
		</div>
	</div>
</div>
