<div class="container" data-ng-controller="HeaderController">
	<div class="sub-container">
		<div class="navbar-header" ng-class="{'signup-navbar': signup_header || signin_header}">
			<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()" ng-hide="mainpage_header">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{{logo_link}}" class="navbar-brand">
				<img class="img-responsive text-center" src="modules/core/img/logo.png" />
			</a>
			<a href="/#!/signin" class="btn btn-default btn-lg signup-login-btn pull-right" style="margin-top: 22px; margin-right: 15px;" data-ng-if="signup_header">
				Login
			</a>
			<a href="/#!/signup/signup_user_info" class="btn btn-default btn-lg signup-login-btn pull-right" style="margin-top: 22px; margin-right: 15px;" data-ng-if="signin_header">
				Signup
			</a>
		</div>
		<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
			<!--<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
				<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
					<a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle>
						<span data-ng-bind="item.title"></span>
						<b class="caret"></b>
					</a>
					<ul ng-switch-when="dropdown" class="dropdown-menu">
						<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
							<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
						</li>
					</ul>
					<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
				</li>
			</ul>-->
			<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);" style="margin-top: 10px;">
				<li ng-if="authentication.user.roles.indexOf('pmanager')>-1 || authentication.user.roles.indexOf('admin')>-1" ng-switch="item" ui-route="/resident_insurances" class="item" ng-class="{active: ($uiRoute)}">
					<a href="/#!/resident_insurances" ng-switch-default>
						Resident HO4 Coverage
					</a>
				</li>
				<li ng-if="authentication.user.roles.indexOf('pmanager')>-1 || authentication.user.roles.indexOf('admin')>-1" ng-switch="item" ui-route="/properties" class="item" ng-class="{active: ($uiRoute)}">
					<a href="/#!/properties" ng-switch-default>
						Properties
					</a>
				</li>
				<li ng-if="authentication.user.roles.indexOf('admin')>-1" ng-switch="item" ui-route="/property_managers" class="item" ng-class="{active: ($uiRoute)}">
					<a href="/#!/property_managers" ng-switch-default>
						Property Managers
					</a>
				</li>
				<li ng-if="authentication.user.roles.indexOf('admin')>-1" ng-switch="item" ui-route="/residents" class="item" ng-class="{active: ($uiRoute)}">
					<a href="/#!/residents" ng-switch-default>
						Residents
					</a>
				</li>
				<li ng-if="authentication.user.roles.indexOf('user')>-1" ng-switch="item" ui-route="/insurances" class="item" ng-class="{active: ($uiRoute)}">
					<a href="/#!/insurances" ng-switch-default>
						Coverage History
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right login-navbar" data-ng-hide="authentication.user || mainpage_header || signup_header || signin_header">
				<li>
					<span class="glyphicon glyphicon-earphone green-color"></span>
					<span class="underline">866.395.1308</span>
				</li>
				<li>
					<form class="form-inline login-form" data-ng-submit="signin()">
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Email" data-ng-model="credentials.username">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" data-ng-model="credentials.password">
						</div>
						<button type="submit" class="btn btn-success login-btn green-btn-color">
							<span class="glyphicon glyphicon-lock"></span>
							Login
						</button>
					</form>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right user-dropdownmenu" data-ng-show="authentication.user">
				<li class="dropdown" dropdown>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
						<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/#!/settings/profile">
								<i class="glyphicon glyphicon-user"></i>
								Settings
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/auth/signout">
								<i class=" glyphicon glyphicon-log-out"></i>
								Signout
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</div>
