<section data-ng-controller="HomeController" class="home-class">
	<div ng-if="!authentication.user">
		<div class="gray-header-area"></div>
		<div class="slide-area">

			<div class="signup-btn-area">
				<p class="white-color resident_txt">Are you a resident?</p>
				<p class="white-color" style="font-size: 20px;">Provide Your Rental Insurance Information</p>
				<a href="#!/signup" class="btn btn-default getstarted-btn" style="border-radius: 0">SUBMIT POLICY INFORMATION</a>
				<br>
				<a href="#!/signin" class="btn btn-success btn-lg" style="border-radius: 0">REVIEW SUBMISSION</a>
			</div>
		</div>
		<div class="sub-container">
			<div class="media" style="padding: 35px 0;">
				<div class="col-sm-5 col-md-5 thumbnail">
					<img src="modules/core/img/resident-bg.png">
				</div>
				<div  class="col-sm-6 col-md-6 col-md-offset-1 col-sm-offset-1">
					<h4 style="color: #ABABAB;">INFORMATION</h4>
					<h3 class="media-heading">FOR RESIDENTS</h3>
					<p class="thumbnail-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla semper condimentum mi, in imperdiet urna hendrerit in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer eget quam vitae ante tempor sagittis ut nec justo. Ut et felis ac tortor commodo rutrum ac vel enim. Sed sodales fringilla metus, quis porttitor dolor iaculis eget. Vestibulum gravida, magna eu volutpat vehicula, arcu sem vulputate lectus, sit amet commodo nulla mauris ut sem. Suspendisse a nulla at nisl luctus ultrices id vitae sapien.</p>
					<p><a href="#" class="btn btn-success green-btn-color thumbnail-btn" role="button" style="border-radius: 0">READ MORE</a></p>
				</div>
			</div>
			<div class="media" style="padding: 35px 0;">
				<div class="col-sm-5 col-md-5 thumbnail">
					<img src="modules/core/img/pmanager-bg.png">
				</div>
				<div class="col-sm-5 col-md-6 col-md-offset-1 col-sm-offset-1">
					<h4 style="color: #ABABAB;">INFORMATION</h4>
					<h3 class="media-heading">FOR PROPERTY MANAGERS</h3>
					<p class="thumbnail-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla semper condimentum mi, in imperdiet urna hendrerit in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer eget quam vitae ante tempor sagittis ut nec justo. Ut et felis ac tortor commodo rutrum ac vel enim. Sed sodales fringilla metus, quis porttitor dolor iaculis eget. Vestibulum gravida, magna eu volutpat vehicula, arcu sem vulputate lectus, sit amet commodo nulla mauris ut sem. Suspendisse a nulla at nisl luctus ultrices id vitae sapien.</p>
					<p><a href="#" class="btn btn-success green-btn-color thumbnail-btn" role="button" style="border-radius: 0">READ MORE</a></p>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="authentication.user" class="sub-container" style="margin-top: 125px;">

	</div>
</section>

