<section data-ng-controller="PriPlolicyController" class="extrapage-class">
    <div class="slide-area-regular"></div>
    <div class="sub-container HelveticaNeue"  style="margin-bottom: 70px;">
		<div style="padding-left: 5px;">
            <div style="margin-top: 79px;">
                <h1 class="page-title HelveticaNeueCyrThin"> Privacy Policy</h1>
            </div>
            <div style="padding: 7px 0;">
                <h2 class="HelveticaNeueCyrMedium" style="font-size: 26px;">
                    What does Renters Compliance Portal do with your information?
                </h2>
                <p style="padding: 10px 0 0; font-size: 16px; margin: 0; color: #777; line-height: 1.3;">
                    The Renters Compliance Portal Program collects your current renter’s insurance information to verify that you meet requirements set by the apartment community where you live. The information we receive from you is never used by or given to a third party. Our domain may contain links to other sites; The Renters Compliance Portal Program is not responsible for the privacy practices or content of these sites.
                </p>
            </div>
            <div style="margin-top: 27px;">
                <h2 class="HelveticaNeueCyrMedium" style="font-size: 26px;">
                    What we have done to protect your information
                </h2>
                <p style="padding: 7px 0 0; font-size: 16px; margin: 0; color: #777; line-height: 1.3;">
                    We have gone to great lengths to protect your information on our website. We operate under a secure data network that is protected by industry standard firewall and password protection systems. Only authorized employees have access to the information you provide.
                </p>
            </div>
            <div style="margin-top: 34px;">
                <h2 class="HelveticaNeueCyrMedium" style="font-size: 26px;">
                    What are “Cookies”?
                </h2>
                <p style="padding: 8px 0 0; font-size: 16px; margin: 0; color: #777; line-height: 1.3;">
                    A “cookie”, also known as a web cookie, browser cookie, and HTTP cookie, is a piece of text stored by a user's web browser. Our website uses cookies in some controlled instances.  An example of when that would be applicable is; if you are browsing our website and a survey populates, and you state that you do not want to take the survey now or on future visits. You can always disable cookies for our website but this will enable our websites ability to save preferences for you in the future. If our domain is not remembering specific requests (i.e. that you do not want to take a survey in the future) it may be due to a system-specific identification change.
                </p>
            </div>
            <div style="margin-top: 34px;">
                <h2 class="HelveticaNeueCyrMedium" style="font-size: 26px;">
                    Refund Policy
                </h2>
                <p style="padding: 7px 0 0; font-size: 16px; margin: 0; color: #777; line-height: 1.3;">
                    Renters Compliance Portal does not bill residents or issue refunds to residents. If you are a resident and are potentially entitled to a refund, please contact your Community Manager.
                </p>
            </div>
            <div style="margin-top: 85px;">
                <h2 class="HelveticaNeueCyrMedium" style="font-size: 26px;">
                    If there are any changes to this privacy policy, it will be posted on our site
                </h2>
                <h2 class="HelveticaNeueCyrMedium" style="font-size: 26px; margin-top: -7px;">
                    If you have any questions contact us at <span class="green-text bold">(866) 395 1308</span>
                </h2>
            </div>
        </div>
    </div>
</section>
