<section data-ng-controller="ServicesController" class="extrapage-class">
    <div class="slide-area-regular"></div>
    <div class="sub-container HelveticaNeue" style="margin-bottom: 50px;">
        <div style="padding-left: 5px;letter-spacing: 1px;">
            <div style="margin-top: 73px;">
                <h1 class="page-title"> Services</h1>
            </div>
			<div style="padding: 32px 0 17px;">
                <span style="padding: 10px 0; font-size: 15px; font-weight: bold;">
					Renters Compliance Portal is a one-size- fits-all solution for tracking resident’s renters’ insurance policies. RCP instructional materials will be available in the community leasing office for existing and new residents. Residents during the leasing or renewal process will be provided an informational document with pertinent RCP instructions. The RCP instructions shall include a sample declaration the resident can give to their insurance provider (with the address, approved coverages, amounts, etc.)
                </span>
            </div>
            <div class="services-list">
                <ul style="padding-left: 35px;">
                    <li>Tracking of renter’s insurance policies</li>
                    <li>Support provided directly to residents M-F (8:00 AM - 5:00 PM MST)</li>
                    <li>Direct communication between the Renters Compliance Portal Support Team and resident’s Insurance Agency</li>
                    <li>Automatic enrollment and notification to residents when policies cancel during lease term</li>
                    <li>Materials and ongoing training provided to onsite teams</li>
                    <li>Monthly reviews performed to ensure compliance</li>
                </ul>
            </div>

        </div>


    </div>
</section>
