<div class="gray-header-area"></div>
<section class="row signup-page">
	<h2 class="col-md-12 text-center" style="font-size: 30pt;">Sign up now</h2>
	<p class="col-md-12 text-center" style="font-size: 1em; color: #7a7a7a;">Are you a Resident?</p>
	<p class="col-md-12 text-center" style="font-size: 1em; color: #7a7a7a;">Register for an account below</p>

	<div class="col-md-offset-4 col-md-4 signup-wizard-area">
		<div id="status-buttons" class="text-center">
			<a ui-sref-active="active" ui-sref=".user_info">
				1. Basic info
				<span class="glyphicon glyphicon-record" aria-hidden="true" ng-if="!finishUserInfoStep"></span>
				<span class="glyphicon glyphicon-ok-sign complete-icon" aria-hidden="true" ng-if="finishUserInfoStep"></span>
			</a>
			<a ui-sref-active="active" ui-sref=".account_info">
				2. Account info
				<span class="glyphicon glyphicon-record" aria-hidden="true" ng-if="!finishAccountInfoStep"></span>
				<span class="glyphicon glyphicon-ok-sign complete-icon" aria-hidden="true" ng-if="finishAccountInfoStep"></span>
			</a>
			<a ui-sref-active="active" ui-sref=".policy_info">3. Policy info<span class="glyphicon glyphicon-record" aria-hidden="true"></span></a>
		</div>

		<form id="signup-form" name="signupForm" ng-submit="signup()">
			<!-- our nested state views will be injected here -->
			<div id="form-views" ui-view></div>
			<div data-ng-show="error" class="text-center text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
		</form>
	</div>
</section>
