<div class="gray-header-area"></div>
<section class="row signup-page" data-ng-controller="AuthenticationController">
	<h2 class="col-md-12 text-center HelveticaNeue title">Login</h2>
	<p class="col-md-12 text-center HelveticaNeue sub-title">Welcome back! Nice to see you again</p>
	<div class="col-md-offset-4 col-md-4 signin-area">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off" id="signin-form">
			<fieldset>
				<div class="form-group">
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-success" style="padding: 12px 35px;">LOGIN</button>
				</div>
				<div class="forgot-password">
					<a href="/#!/password/forgot?email={{credentials.username}}">Forgot your password?</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
