<div class="gray-header-area"></div>
<section class="row signup-page">
	<h2 class="col-md-12 text-center" style="font-size: 30pt;">Sign up now</h2>
	<p class="col-md-12 text-center" style="font-size: 1em; color: #7a7a7a;">Are you a Resident?</p>
	<p class="col-md-12 text-center" style="font-size: 1em; color: #7a7a7a;">Register for an account below</p>

	<div class="col-md-offset-4 col-md-4 signup-wizard-area">
		<form id="signup-form" name="signupForm" ng-submit="signup()">
			<div class="form-group no-margin">
				<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
				<span class="text-danger text-left" ng-if="errorFirstName">Please enter your first name.</span>
			</div>
			<div class="form-group no-margin">
				<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
				<span class="text-danger text-left" ng-if="errorLastName">Please enter your last name.</span>
			</div>
			<div class="form-group no-margin">
				<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				<span class="text-danger text-left" ng-if="errorEmail">Please enter a valid email address.</span>
			</div>
			<div class="form-group inner-addon right-addon no-margin">
				<i class="glyphicon glyphicon-lock gray-color"></i>
				<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password"
					   tooltip="Password has to be minimum 8 letters"  tooltip-trigger="focus" tooltip-placement="bottom">
				<span class="text-danger text-left" ng-if="errorPassword">Please enter password.</span>
			</div>
			<div class="form-group inner-addon right-addon no-margin">
				<i class="glyphicon glyphicon-question-sign gray-color"></i>
				<input type="text" required id="property_code" name="property_code" class="form-control" data-ng-model="credentials.propertyID" placeholder="Property Code"
					   tooltip="Please find the Property Code on your brochure or contact your property"  tooltip-trigger="focus" tooltip-placement="bottom">
				<span class="text-danger text-left" ng-if="errorPropertyCode">Please enter property code.</span>
			</div>
			<div class="text-center form-group">
				<button type="submit" class="btn btn-large btn-success btn-block" style="padding: 15px;">Sign up</button>
			</div>
			<div data-ng-show="error" class="text-center text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
		</form>
	</div>
</section>
