body {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}

.navbar {
	min-height: 111px;
	background-color: #ffffff;
	background-color: rgba(255,255,255, 0.5);
	background-image: none;
	border-color: #ffffff;
}

.navbar .navbar-brand {
	margin: 28px 0 !important;
	padding: 0;
}

.navbar-inverse .navbar-toggle {
	color: #ccc;
	background-color: #ccc;
	border-color: #ccc;
	margin-top: 42px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #ccc;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #fff;
}

.navbar-right {
	margin-right: 3px;
	margin-top: 16px;
	font-size: 1.2em;
}

.navbar-nav.login-navbar > li {
	float: none;
	text-align: right;
}

.user-header {
	background-color: #487e2c;
}

.user-header .navbar-nav > li > a {
	color: #fff;
}

.user-header .navbar-nav > .open > a, .user-header .navbar-nav > .active > a {
	background: #487925;
	color: #fff;
}

.user-header .navbar-nav > .open > a,
.user-header .navbar-nav > .open > a:hover,
.user-header .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #487925;
}

.login-navbar .login-form {
	padding: 20px 0;
}

.login-navbar .login-form .form-control{
	height: 30px;
}

.green-btn-color {
	background-color: #487e2c;
	background-image: none;
	box-shadow: none;
}

.login-navbar .login-form .login-btn {
	padding: 4px 30px;
}

.login-navbar .login-form .form-control,
.login-navbar .login-form .form-control:focus {
	border-color: #45b0c7;
}

.green-color {
	color: #487e2c;
}

.slide-area {
	position: relative;
}

.slide-area .signup-btn-area p {
	line-height: 1.2em;
	font-size: 0.8em;
}

.white-color {
	color: #fff;
}

.light-green-color {
	color: #8cecff;
}

.getstarted-btn {
	font-size: 0.8em;
	font-weight: bold;
	margin-top: 18px;
	padding: 5px 63px;
	text-transform: uppercase;
}

.home-class .thumbnail {
	padding: 0;
	border-radius: 0;
	-webkit-box-shadow: 4px 6px 5px 0 #bbbbbb;
	-moz-box-shadow: 4px 6px 5px 0 #bbbbbb;
	box-shadow: 4px 6px 5px 0 #bbbbbb;
}

.home-class .thumbnail .thumbnail-title {
	font-size: 1.4em;
	font-weight: bold;
	margin: 10px 3px;
}

.home-class .thumbnail .thumbnail-content {
	font-size: 1em;
}

.home-class .thumbnail .thumbnail-btn {
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px 30px;
}

.home-class .thumbnail-group {
	margin-bottom: 115px;
}

.footer {
	position: relative;
}

.footer-info {
	background-color: #12619a;
	color: #ffffff;
	font-size: 1.3em;
	padding: 27px 0;
}

.footer .sub-container {
	height: 108px;
	background-color: #487e2c;
	color: #ffffff;
}

.footer .sub-container .list-inline > li > a {
	text-shadow: none;
	color: #ffffff;
}

.footer .sub-container .list-inline > li > a:first-child {
	padding-left: 0;
}

.footer .sub-container .list-inline > li > a:hover,
.footer .sub-container .list-inline > li > a:focus {
	background-color: transparent;
}

.footer .sub-container .navbar-text {
	margin-right: 0;
}

.footer .sub-container .copyright-field {
	float: right;
}

.underline {
	text-decoration: underline;
}

.home-class .sub-container {
	margin-top: -145px;
}

.carousel-indicators {
	display: none;
}

.carousel-control {
	display: none;
}

.bottom-shadow {
	-webkit-box-shadow: inset -3px 15px 10px -10px #333;
	-moz-box-shadow: inset -3px 15px 10px -10px #333;
	box-shadow: inset -3px 15px 10px -10px #333;
	height: 20px;
	position: absolute;
	top: 80px;
	width: 100%;
}

.signup-page {
	margin-right: 0;
	margin-left: 0;
	padding-top: 35px;
}

.no-margin {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.btn.signup-btn {
	color: #fff;
	padding: 10px 30px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.btn-success {
	background-image: none;

}

.signup-form .form-control {
	height: 50px;
}

.signup-form .signup-row {
	padding: 10px 0 0;
}

.signup-form .form-control:focus {
	border-color: #45b0c7;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.footer .sub-container .list-inline {
	margin-left: 0;
}

.gray-header-area {
	background-color: #e0e4eb;
	width: 100%;
	height: 111px;
}

.mainpage-content .gray-header-area {
	height: 90px;
}

.custom-gray-btn,
.signup-login-btn {
	background-image: none;
	color: #9EBB91;
	text-shadow: none;
	padding-left: 35px;
	padding-right: 35px;
}

.custom-gray-btn:hover, .custom-gray-btn:focus,
.signup-login-btn:hover, .signup-login-btn:focus {
	color: #9EBB91;
}

.signup-navbar {
	float: none;
}

.mainpage-content {
	background-color: #f7f7f7;
	min-height: 100%;
	padding-bottom: 105px;
	position: relative;
}

.mainpage-content .footer {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
}

.main-header {
	background-color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
	color: #333;
	text-shadow: none;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #ccc;
	background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #333;
	background-color: #eee;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
	color: #444;
	background-color: transparent;
}
.navbar-inverse .navbar-toggle {
	border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #333;
	background-color: #ccc;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
	background-image: none;
	box-shadow: none;
}

.policy-list {
	background-color: #ffffff;
	margin-top: 30px;
	padding: 20px;
}

.bold {
	font-weight: bold;
}

.upper-letters {
	text-transform: uppercase;
}

.label.insurance-status-label {
	padding: 0.3em 0.6em 0.2em;
	font-size: 70%;
	font-weight: normal;
	border-radius: 10px;
}

.status-label {
	text-transform: capitalize;
}

/* enable absolute positioning */
.inner-addon {
	position: relative;
}

/* style icon */
.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.gray-color {
	color: #c5c5c5;
}

.maincontent-area {
	background-color: #ffffff;
	margin-top: 30px;
	padding: 20px;
}

table thead th {
	position: relative;
}

table thead th.sorting:after,
table thead th.st-sort-ascent:after,
table thead th.st-sort-descent:after {
	position: absolute;
	top: 7px;
	right: 8px;
	display: block;
}

.st-sort-ascent:after {
	content: '\25B2';
}

.st-sort-descent:after {
	content: '\25BC';
}

@media (min-width: 320px) {
	.navbar-brand img{
		margin-left: 15px;
	}
	.home-class .gray-header-area {
		display: block;
	}

	.slide-area .signup-btn-area {
		display: none;
	}

	.home-class .sub-container {
		margin-top: -30px;
	}

	.shadow-area {
		-webkit-box-shadow: 0 0 25px 45px #ffffff;
		-moz-box-shadow: 0 0 25px 45px #ffffff;
		box-shadow: 0 0 25px 45px #ffffff;
		background: #fff none repeat scroll 0 0;
		bottom: 0;
		position: absolute;
		width: 100%;
	}
}

.datepicker-popup .dropdown-menu {
	min-width: 250px;
}

.datepicker-popup .dropdown-menu .btn-default {
	background-image: none;
}

.user-dropdownmenu .dropdown-menu > li > a:hover,
.user-dropdownmenu .dropdown-menu > li > a:focus {
	border-left: 2px solid #5C8C45;
	background-color: #F6FBF4;
}

@media (max-width: 370px) {
	.footer-info {
		padding: 15px 0;
	}
}

@media (max-width: 767px) {
	.footer .sub-container {
		padding-top: 10px;
	}
	.footer .sub-container .list-inline {
		text-align: center;
	}
	.footer .sub-container .copyright-field {
		text-align: center;
		float: none;
	}
}

@media (min-width: 600px) {
	.navbar-brand img{
		margin-left: 15px;
	}
	.home-class .gray-header-area {
		display: block;
	}

	.slide-area .signup-btn-area {
		display: block;
		font-size: 2em;
		font-weight: bold;
		left: 15px;
		position: absolute;
		top: 15%;
	}

	.home-class .sub-container {
		margin-top: -70px;
	}

	.shadow-area {
		-webkit-box-shadow: 0 0 25px 85px #ffffff;
		-moz-box-shadow: 0 0 25px 85px #ffffff;
		box-shadow: 0 0 25px 85px #ffffff;
		background: #fff none repeat scroll 0 0;
		bottom: 0;
		position: absolute;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.container {
		width: 100%;
	}

	.sub-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.slide-area .signup-btn-area {
		display: block;
		font-size: 2em;
		font-weight: bold;
		left: 20px;
		position: absolute;
		top: 120px;
	}

	.signup-page {
		min-height: 675px;
	}

	.footer .sub-container {
		padding-top: 35px;
	}

	.navbar-brand img{
		margin-left: 0;
	}

	.home-class .gray-header-area {
		display: none;
	}

	.home-class .sub-container {
		margin-top: -145px;
	}

	.shadow-area {
		-webkit-box-shadow: 0 0 25px 85px #ffffff;
		-moz-box-shadow: 0 0 25px 85px #ffffff;
		box-shadow: 0 0 25px 85px #ffffff;
		background: #fff none repeat scroll 0 0;
		bottom: 0;
		position: absolute;
		width: 100%;
	}
}
@media (min-width: 992px) {
	.container {
		width: 100%;
	}

	.sub-container {
		padding-left: 50px;
		padding-right: 50px;
	}

	.slide-area .signup-btn-area {
		display: block;
		font-size: 2.3em;
		font-weight: bold;
		left: 50px;
		position: absolute;
		top: 170px;
	}

	.getstarted-btn {
		font-size: 0.5em;
	}

	.signup-page {
		min-height: 675px;
	}

	.footer .sub-container {
		padding-top: 35px;
	}

	.navbar-brand img{
		margin-left: 0;
	}

	.home-class .gray-header-area {
		display: none;
	}

	.home-class .sub-container {
		margin-top: -145px;
	}

	.shadow-area {
		-webkit-box-shadow: 0 0 25px 85px #ffffff;
		-moz-box-shadow: 0 0 25px 85px #ffffff;
		box-shadow: 0 0 25px 85px #ffffff;
		background: #fff none repeat scroll 0 0;
		bottom: 0;
		position: absolute;
		width: 100%;
	}
}

@media (min-width: 1366px) {
	.container {
		width: 1366px;
		padding-left: 0;
		padding-right: 0;
	}

	.sub-container {
		padding-left: 140px;
		padding-right: 140px;
	}

	.slide-area .signup-btn-area {
		display: block;
		font-size: 3.7em;
		font-weight: bold;
		left: 140px;
		position: absolute;
		top: 250px;
	}

	.getstarted-btn {
		font-size: 0.5em;
	}

	.signup-page {
		min-height: 775px;
	}

	.footer .sub-container {
		padding-top: 35px;
	}

	.navbar-brand img{
		margin-left: 0;
	}

	.home-class .gray-header-area {
		display: none;
	}

	.home-class .sub-container {
		margin-top: -145px;
	}

	.shadow-area {
		-webkit-box-shadow: 0 0 25px 85px #ffffff;
		-moz-box-shadow: 0 0 25px 85px #ffffff;
		box-shadow: 0 0 25px 85px #ffffff;
		background: #fff none repeat scroll 0 0;
		bottom: 0;
		position: absolute;
		width: 100%;
	}
}


.lightbox-nav .btn {
	display: none;
}
.lightbox-image-caption img{
	margin-top:15px;
}