@font-face {
	font-family: "HelveticaNeue";
	src: url("/modules/core/font/HelveticaNeueUltraLight.ttf") format("truetype");
}

body {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.navbar .container {
	position: relative;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}

.navbar {
	min-height: 111px;
	background: transparent;
	border: none;
}

.navbar .container .sub-container {
	background-color: #fff;
}

.navbar  .sub-container .container::after{
	background-image: url("/modules/core/img/top-header-trail.png");
	background-repeat: no-repeat;
	content: " ";
	height: 170px;
	position: absolute;
	top: 43px;
	width: 100%;
	z-index: -1;
}

.navbar.main-header .container .sub-container::after {
	height:0;
}

.navbar .navbar-brand {
	margin: 39px 0 !important;
	padding: 0;
	height: auto;
}

.navbar-inverse .navbar-toggle {
	color: #ccc;
	background-color: #ccc;
	border-color: #ccc;
	margin-top: 42px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #ccc;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #fff;
}

.navbar-right {
	margin-right: 3px;
	margin-top: 10px;
	font-size: 1.2em;
}

.navbar-nav.login-navbar > li {
	float: none;
	text-align: right;
}

.user-header {
	background-color: #487e2c;
}

.user-header .navbar-nav > li > a {
	color: #fff;
}

.user-header .navbar-nav > .open > a, .user-header .navbar-nav > .active > a {
	background: #487925;
	color: #fff;
}

.user-header .navbar-nav > .open > a,
.user-header .navbar-nav > .open > a:hover,
.user-header .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #487925;
}

.login-navbar .login-form {
	padding: 35px 0px 0px 0px;
}

.login-navbar .login-form .form-control{
	height: 30px;
}

.green-btn-color {
	background-color: #6EC25E;
	background-image: none;
	box-shadow: none;
}

.login-navbar .login-form .login-btn {
	padding: 4px 30px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}

.login-navbar .login-form .form-control,
.login-navbar .login-form .form-control:focus {
	border-color: #45b0c7;
}

.green-color {
	color: #487e2c;
}

.slide-area {
	position: relative;
	color: #fff;
	background-repeat:no-repeat;
	background-position: center center;
	background-image:url('/modules/core/img/banner.png');
	min-height: 979px;
}

.slide-area .signup-btn-area p {
	line-height: 1.2em;
}

.signup-btn-area .resident_txt {
	font-size: 68px !important;
	max-width: 300px !important;
	word-wrap: break-word;
	font-family: "HelveticaNeue";
}

.white-color {
	color: #fff;
}

.light-green-color {
	color: #8cecff;
}

.getstarted-btn {
	font-size: 0.8em;
	margin-top: 18px;
	text-transform: uppercase;
	background-image: none;
}

.home-class .thumbnail {
	padding: 0;
	border-radius: 0;
	border: none;
}

.home-class .thumbnail .thumbnail-title {
	font-size: 1.4em;
	font-weight: bold;
	margin: 10px 3px;
}

.home-class .thumbnail .thumbnail-content {
	font-size: 1em;
}

.home-class .thumbnail .thumbnail-btn {
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px 30px;
}

.home-class .thumbnail-group {
	margin-bottom: 115px;
}

.footer {
	position: relative;
}

.footer-info {
	background-image: url('/modules/core/img/gree-bottom-rect.png');
	background-repeat:no-repeat;
	background-position: center center;
	min-height: 402px;
	color: #ffffff;
	font-size: 1.3em;
	padding-top: 207px;
	position: relative;
}

.footer-info::after {
	background-color: #d7d7d7;
	content: "";
	height: 100px;
	position: absolute;
	top: 110px;
	width: 100%;
	z-index: -1;
	left: 0;
}
.footer .navbar-nav > li > a {
	box-shadow: none;
	color: #ffffff;
}

.footer .navbar-nav > li > a:focus,
.footer .navbar-nav > li > a:hover {
	background-color: transparent !important;
}

.footer .sub-container {
	height: 120px;
	background-color: #616161;
	color: #ffffff;
	margin-left: 0;
	margin-right: 0;
}

.footer .sub-container .list-inline > li > a {
	text-shadow: none;
	color: #ffffff;
}

.footer .sub-container .list-inline > li > a:first-child {
	padding-left: 0;
}

.footer .sub-container .list-inline > li > a:hover,
.footer .sub-container .list-inline > li > a:focus {
	background-color: transparent;
}

.footer .sub-container .navbar-text {
	margin-right: 0;
}

.footer .sub-container .copyright-field {
	float: right;
}

.underline {
	text-decoration: underline;
}

.home-class .sub-container {
	margin-top: 54px;
	padding-left: 0;
	padding-right: 0;
}

.carousel-indicators {
	display: none;
}

.carousel-control {
	display: none;
}

.bottom-shadow {
	-webkit-box-shadow: inset -3px 15px 10px -10px #333;
	-moz-box-shadow: inset -3px 15px 10px -10px #333;
	box-shadow: inset -3px 15px 10px -10px #333;
	height: 20px;
	position: absolute;
	top: 80px;
	width: 100%;
}

.signup-page {
	margin-right: 0;
	margin-left: 0;
	padding-top: 35px;
}

.no-margin {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.btn.signup-btn {
	color: #fff;
	padding: 10px 30px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.btn-success {
	background-image: none;

}

.signup-form .form-control {
	height: 50px;
}

.signup-form .signup-row {
	padding: 10px 0 0;
}

.signup-form .form-control:focus {
	border-color: #45b0c7;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.footer .sub-container .list-inline {
	margin-left: 0;
}

.gray-header-area {
	background-color: #e0e4eb;
	width: 100%;
	height: 111px;
}

.mainpage-content .gray-header-area {
	height: 90px;
}

.custom-gray-btn,
.signup-login-btn {
	background-image: none;
	color: #9EBB91;
	text-shadow: none;
	padding-left: 35px;
	padding-right: 35px;
}

.custom-gray-btn:hover, .custom-gray-btn:focus,
.signup-login-btn:hover, .signup-login-btn:focus {
	color: #9EBB91;
}

.signup-navbar {
	float: none;
}

.mainpage-content {
	background-color: #f7f7f7;
	min-height: 100%;
	padding-bottom: 105px;
	position: relative;
}

.mainpage-content .footer {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
}

.main-header {
	background-color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
	color: #333;
	text-shadow: none;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #ccc;
	background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #333;
	background-color: #eee;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
	color: #444;
	background-color: transparent;
}
.navbar-inverse .navbar-toggle {
	border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #333;
	background-color: #ccc;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {
	background-image: none;
	box-shadow: none;
}

.policy-list {
	background-color: #ffffff;
	margin-top: 30px;
	padding: 20px;
}

.bold {
	font-weight: bold;
}

.upper-letters {
	text-transform: uppercase;
}

.label.insurance-status-label {
	padding: 0.3em 0.6em 0.2em;
	font-size: 70%;
	font-weight: normal;
	border-radius: 10px;
}

.status-label {
	text-transform: capitalize;
}

/* enable absolute positioning */
.inner-addon {
	position: relative;
}

/* style icon */
.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.gray-color {
	color: #c5c5c5;
}

.maincontent-area {
	background-color: #ffffff;
	margin-top: 30px;
	padding: 20px;
}

table thead th {
	position: relative;
}

table thead th.sorting:after,
table thead th.st-sort-ascent:after,
table thead th.st-sort-descent:after {
	position: absolute;
	top: 7px;
	right: 8px;
	display: block;
}

.st-sort-ascent:after {
	content: '\25B2';
}

.st-sort-descent:after {
	content: '\25BC';
}

.lightbox-nav {
	padding: 15px;
	margin: 0
}

.lightbox-nav .btn-group{
	display: none;
}

@media (min-width: 320px) {
	.navbar-brand img{
		margin-left: 15px;
	}
	.home-class .gray-header-area {
		display: block;
	}

	.slide-area .signup-btn-area {
		display: block;
		font-size: 2em;
		left: 0;
		right: 0;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.8);
		bottom: 5%;
		text-align: center;
		padding: 20px;
	}

	.getstarted-btn {
		margin: 10px 0;
		font-size: 17px;
	}

	.signup-btn-area .resident_txt {
		max-width: none;
		font-size: 40px;
	}

	.shadow-area {
		-webkit-box-shadow: 0 0 25px 45px #ffffff;
		-moz-box-shadow: 0 0 25px 45px #ffffff;
		box-shadow: 0 0 25px 45px #ffffff;
		background: #fff none repeat scroll 0 0;
		bottom: 0;
		position: absolute;
		width: 100%;
	}
	.footer-info::after {
		top: 120px;
	}
}

.datepicker-popup .dropdown-menu {
	min-width: 250px;
}

.datepicker-popup .dropdown-menu .btn-default {
	background-image: none;
}

.user-dropdownmenu .dropdown-menu > li > a:hover,
.user-dropdownmenu .dropdown-menu > li > a:focus {
	border-left: 2px solid #5C8C45;
	background-color: #F6FBF4;
}

@media (max-width: 370px) {
	.footer-info {
		padding: 15px 0;
	}
}

@media (max-width: 767px) {
	.footer .sub-container {
		padding-top: 10px;
	}
	.footer .sub-container .list-inline {
		text-align: center;
	}
	.footer .sub-container .copyright-field {
		text-align: center;
		float: none;
	}
}

@media (min-width: 600px) {
	.navbar-brand img{
		margin-left: 15px;
	}
	.home-class .gray-header-area {
		display: block;
	}

	.slide-area .signup-btn-area {
		display: block;
		font-size: 2em;
		left: 0;
		right: 0;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.8);
		bottom: 5%;
		text-align: center;
		padding: 20px;
	}

	.getstarted-btn {
		margin: 10px 0;
	}

	.signup-btn-area .resident_txt {
		max-width: none;
		font-size: 40px;
	}

	.shadow-area {
		-webkit-box-shadow: 0 0 25px 85px #ffffff;
		-moz-box-shadow: 0 0 25px 85px #ffffff;
		box-shadow: 0 0 25px 85px #ffffff;
		background: #fff none repeat scroll 0 0;
		bottom: 0;
		position: absolute;
		width: 100%;
	}

	.footer-info::after {
		top: 90px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 100%;
	}

	.sub-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.slide-area .signup-btn-area {
		background-color: rgba(0, 0, 0, 0.8);
		display: block;
		font-size: 3.7em;
		left: 0;
		padding: 30px 145px;
		position: absolute;
		bottom: auto;
		right: auto;
		text-align: left;
		top: 250px;
	}

	.getstarted-btn {
		font-size: 0.4em;
	}

	.signup-page {
		min-height: 675px;
	}

	.footer .sub-container {
		padding: 20px;
	}

	.navbar-brand img{
		margin-left: 0;
	}

	.home-class .gray-header-area {
		display: none;
	}

	.shadow-area {
		-webkit-box-shadow: 0 0 25px 85px #ffffff;
		-moz-box-shadow: 0 0 25px 85px #ffffff;
		box-shadow: 0 0 25px 85px #ffffff;
		background: #fff none repeat scroll 0 0;
		bottom: 0;
		position: absolute;
		width: 100%;
	}

	.footer-info::after {
		top: 90px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 100%;
	}

	.sub-container {
		padding-left: 50px;
		padding-right: 50px;
	}

	.slide-area .signup-btn-area {
		display: block;
		font-size: 3.7em;
		font-family: "Helvetica";
		left: 0px;
		position: absolute;
		top: 250px;
		background-color: rgba(0, 0, 0, 0.7);
		padding: 30px 145px;
		bottom: auto;
		right: auto;
		text-align: left;
	}

	.getstarted-btn {
		font-size: 0.4em;
	}

	.signup-page {
		min-height: 675px;
	}

	.footer .sub-container {
		padding: 20px 50px 0;
	}

	.navbar-brand img{
		margin-left: 0;
	}

	.home-class .gray-header-area {
		display: none;
	}

	.shadow-area {
		-webkit-box-shadow: 0 0 25px 85px #ffffff;
		-moz-box-shadow: 0 0 25px 85px #ffffff;
		box-shadow: 0 0 25px 85px #ffffff;
		background: #fff none repeat scroll 0 0;
		bottom: 0;
		position: absolute;
		width: 100%;
	}

	.footer-info::after {
		top: 110px;
	}
}

@media (min-width: 1470px) {
	.container {
		width: 1470px;
		padding-left: 0;
		padding-right: 0;
	}

	.sub-container {
		margin-left: 145px;
		margin-right: 145px;
		padding-left: 60px;
		padding-right: 60px;
	}

	.slide-area .signup-btn-area {
		display: block;
		font-size: 3.7em;
		left: 0px;
		position: absolute;
		top: 250px;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 30px 145px;
		bottom: auto;
		right: auto;
		text-align: left;
	}

	.getstarted-btn {
		font-size: 0.4em;
	}

	.signup-page {
		min-height: 775px;
	}

	.footer .sub-container {
		padding-top: 20px;
		padding-left: 145px;
		padding-right: 145px;
	}

	.navbar-brand img{
		margin-left: 0;
	}

	.home-class .gray-header-area {
		display: none;
	}

	.shadow-area {
		-webkit-box-shadow: 0 0 25px 85px #ffffff;
		-moz-box-shadow: 0 0 25px 85px #ffffff;
		box-shadow: 0 0 25px 85px #ffffff;
		background: #fff none repeat scroll 0 0;
		bottom: 0;
		position: absolute;
		width: 100%;
	}

	.navbar .container .sub-container::after {
		left: 200px;
	}

	.footer-info::after {
		top: 110px;
	}

	.signup-btn-area .resident_txt {
		font-size: 68px;
		max-width: 300px;
		word-wrap: break-word;
	}
}


.lightbox-nav .btn {
	display: none;
}
.lightbox-image-caption img {
	margin-top:15px;
}

.footer-menus {
	margin-top: -250px !important;
	position: absolute;
	z-index: 2;
	background-color: rgba(0,0,0, 0.5);
	width: 100%;
}

.footer-menus p {
	display: none;
}

.row {
	margin-left: 0;
	margin-right: 0;
}
.public_navigation
{
	position: absolute;
	padding-top:8px;
}
.public_navigation a
{
	color:#FFFFFF;
	text-decoration: none;
}
.public_navigation .item {
	display:inline-block;
	padding:0px 20px;
}
.rememberme{
	margin-right: 106px;
	margin-top: 5px;
}
.thumbnail-content{
	color:gray;
}
.questionresident{
	display: inline-block;
}
.questionresident .quest {
	font-size: 176px;
	font-family: "HelveticaNeue";
}

/**********26/25/2015*************/
.slide-area-regular {
	position: relative;
	/* display: none; */
	color: #fff;
	background-repeat:no-repeat;
	background-position: center center;
	background-image:url('/modules/core/img/banner.png');
	min-height: 400px;
}
.page-title, .green-text {color: #6EC25E}

.bold{font-weight: bold; }
.HelveticaNeue{font-family: "HelveticaNeue";}
.row-sep {width: 100%; display: inline-block; float: left;height: 15px}

.info-data span{display: inline-block;width: 100%}
.brown-bgr {background: #F3F3F3}
.reg-btn {background:#6EC25E; color: #fff; padding: 10px 15px; display: inline-block;
	outline:none;  border:1px solid #6EC25E;  }
.contact-form-guests input[type="text"]{
	border:1px solid   #F3F3F3;
	background:#fff;
	padding:20px 10px;;
	border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
.contact-form-guests textarea{
	border:1px solid   #F3F3F3;
	background:#fff;
	padding:10px 10px;;
	border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
.services-list ul {list-style-type: none}
.services-list ul li{position: relative; margin-bottom: 20px}
.services-list ul li:before{
	content: "";
	position: absolute;
	left: -15px;
	top:5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background:#6EC25E ;
	-o-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}

/**********HEADER ************/
.main-header{background: rgba(0,0,0,0) !important}
.frontend-header > div{background:#fff; padding:0 15px}

.rememberme input,
.rememberme span {
	display: inline-block;
	vertical-align:top;
}
.rememberme input{
	margin-top:5px;
}
.white-text {
	color: #fff;
}
.cool-dark{
	background: #525252;
}
.footer-info-text{
	font-size: 40px;

}
.footer-info-contact{
	font-size: 45px;
	font-weight: bold;

}
.z-index {
	z-index: 99999999999999;
}
/*********FOOTER NAV *******/
.footer-menu-wrap{float: right}
.footer-menu-wrap .item{
	display: inline-block;
}
.footer-menu-wrap .item a{
	display: inline-block;
	color: #fff;
	transition: all 0.5s;
	padding: 10px;
	font-size: 18px;
}
.footer-menu-wrap .item a:hover{
	color:#66AA58;
	text-decoration:none;
}

/*********FOOTER***********/
.footer-wrap{
	background: #6EC25E;
	position:relative;
	display: inline-block;
	width: 100%;
}
.footer-wrap:before{
	position:absolute;
	right:0;
	top:-170px;
	content:" ";
	z-index:999;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 170px 1750px;
	border-color: transparent transparent #6EC25E transparent;
}
.footer-wrap:after{
	position:absolute;
	left:0;
	top:-90px;
	content:" ";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 60px 700px 0 0;
	border-color: #D7D7D7 transparent transparent transparent;
}

@media (min-width:2000px) and (max-width:2550px){
	.footer-wrap:before{
		position:absolute;
		right:0;
		top:-160px;
		content:" ";
		z-index:999;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 170px 2590px;
		border-color: transparent transparent #6EC25E transparent;
	}
	.footer-wrap:after{
		position:absolute;
		left:0;
		top:-90px;
		content:" ";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 100px 1400px 0 0;
		border-color: #D7D7D7 transparent transparent transparent;
	}
}


@media (min-width:1600px) and (max-width:1999px){
	.footer-wrap:before{
		position:absolute;
		right:0;
		top:-160px;
		content:" ";
		z-index:999;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 170px 2590px;
		border-color: transparent transparent #6EC25E transparent;
	}
	.footer-wrap:after{
		position:absolute;
		left:0;
		top:-100px;
		content:" ";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 100px 1000px 0 0;
		border-color: #D7D7D7 transparent transparent transparent;
	}
}


@media (min-width:1300px) and (max-width:1599px){
	.footer-wrap:before{
		position:absolute;
		right:0;
		top:-160px;
		content:" ";
		z-index:999;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 170px 2090px;
		border-color: transparent transparent #6EC25E transparent;
	}
	.footer-wrap:after{
		position:absolute;
		left:0;
		top:-90px;
		content:" ";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 100px 990px 0 0;
		border-color: #D7D7D7 transparent transparent transparent;
	}
}


@media (min-width:1000px) and (max-width:1299px){
	.footer-wrap:before{
		position:absolute;
		right:0;
		top:-160px;
		content:" ";
		z-index:999;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 170px 2090px;
		border-color: transparent transparent #6EC25E transparent;
	}
	.footer-wrap:after{
		position:absolute;
		left:0;
		top:-110px;
		content:" ";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 100px 990px 0 0;
		border-color: #D7D7D7 transparent transparent transparent;
	}
}

@media (min-width:768px) and (max-width:999px){
	.footer-wrap:before{
		position:absolute;
		right:0;
		top:-130px;
		content:" ";
		z-index:99999999;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 170px 1090px;
		border-color: transparent transparent #6EC25E transparent;
	}
	.footer-wrap:after{
		position:absolute;
		left:0;
		top:-60px;
		content:" ";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 100px 590px 0 0;
		border-color: #D7D7D7 transparent transparent transparent;
	}
}
@media (min-width:470px) and (max-width:768px){
	.footer-wrap:before{
		position:absolute;
		right:0;
		top:-130px;
		content:" ";
		z-index:99999999;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 170px 109px;
		border-color: transparent transparent #6EC25E transparent;
	}
	.footer-wrap:after{
		position:absolute;
		left:0;
		top:-30px;
		content:" ";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 100px 50px 0 0;
		border-color: #D7D7D7 transparent transparent transparent;
	}
	.footer-menu-wrap{float: none}
}