<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" style="width:100%; max-width:600px">
	<tbody>
	<tr>
		<td width="100%" align="left" bgcolor="#FFFFFF" style="padding:0px 0px 0px 0px; color:#000000; text-align:left">
			<table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" style="display:none!important; visibility:hidden; color:transparent; height:0; width:0" class="x_module x_preheader x_preheader-hide">
				<tbody>
				<tr>
					<td>
						<p></p>
					</td>
				</tr>
				</tbody>
			</table>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed" class="x_module">
				<tbody>
				<tr>
					<td bgcolor="#ffffff" style="padding:0px 0px 0px 0px">
						<div><span class="x_sg-image"><img width="250" height="71" style="width:250px; height:71px" src="https://marketing-image-production.s3.amazonaws.com/uploads/05ecfeceadcbb1b43ca02460647f0bc083e6d47e0dafd49445e50f1d6cf75625641df17d5e3ec20193c2f6af04b64bc580b42ab4ac8c04137912f0dd450ce51e.png"></span></div>
						<div></div>
						<div>&nbsp;</div>
						<div>Hi <span style="color:rgb(34,34,34); font-family:Menlo,Monaco,'Andale Mono','lucida console','Courier New',monospace; font-size:13px; line-height:19.5px; white-space:pre; background-color:rgb(251,251,252)">{{name}}</span>,</div>
						<div><br>
							Your password is {{password}}.</div>
						<div>Click below to confirm your email address:</div>
						<div>{{url}}</div>
						<div><br>
							If you have problems, please paste the above URL into your web browser.<br>
							&nbsp;</div>
						<div><br>
							Thanks,<br>
							RLL Support</div>
						<div>&nbsp;</div>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>
