<html>
<head>
	<title></title>
</head>
<body>
<div>
	<div><span class="sg-image"
			   data-imagelibrary="%7B%22width%22%3A%22200%22%2C%22height%22%3A%2258%22%2C%22alignment%22%3A%22%22%2C%22src%22%3A%22https%3A//marketing-image-production.s3.amazonaws.com/uploads/e76e97b6c29f08fe4fd06916a50a2d2b5c792687046332ad25b10121e51f3f84ce54c8ddba1e90aa17cf0b6a8c4f8d58cab6cc0c50b7a83199fbba04e9f8c2e5.png%22%2C%22alt_text%22%3A%22%22%2C%22link%22%3A%22%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><img
			height="58"
			src="https://marketing-image-production.s3.amazonaws.com/uploads/e76e97b6c29f08fe4fd06916a50a2d2b5c792687046332ad25b10121e51f3f84ce54c8ddba1e90aa17cf0b6a8c4f8d58cab6cc0c50b7a83199fbba04e9f8c2e5.png"
			style="width: 200px; height: 58px;" width="200"/></span></div>

	<div>&nbsp;</div>

	<div>Hi<span
			style="font-family: geneva, arial, sans-serif; font-size: 14px; line-height: 14px; background-color: rgb(255, 255, 255);">&nbsp;</span><span
			style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 13px; line-height: 19.5px; font-family: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace; vertical-align: baseline; color: rgb(34, 34, 34); white-space: pre; background-color: rgb(251, 251, 252);">-{name}	-</span><span
			style="font-family: geneva, arial, sans-serif; font-size: 14px; line-height: 14px; background-color: rgb(255, 255, 255);">,</span>

		<div style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-stretch: inherit; font-size: 14px; line-height: 14px; font-family: geneva, arial, sans-serif; vertical-align: baseline; background-color: rgb(255, 255, 255);">
			<br style="box-sizing: content-box;"/>
			You&#39;ve been assigned to Property {{name}} in HO4 tracking system.
		</div>

		<div style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-stretch: inherit; font-size: 14px; line-height: 14px; font-family: geneva, arial, sans-serif; vertical-align: baseline; background-color: rgb(255, 255, 255);">
			You may login to the system and&nbsp;access this property by the&nbsp;link:&nbsp;{{url}}
		</div>

		<div style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-stretch: inherit; font-size: 14px; line-height: 14px; font-family: geneva, arial, sans-serif; vertical-align: baseline; background-color: rgb(255, 255, 255);">
			&nbsp;</div>

		<div style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-stretch: inherit; font-size: 14px; line-height: 14px; font-family: geneva, arial, sans-serif; vertical-align: baseline; background-color: rgb(255, 255, 255);">
			Your login is: {{email}}
		</div>

		<div style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-stretch: inherit; font-size: 14px; line-height: 14px; font-family: geneva, arial, sans-serif; vertical-align: baseline; background-color: rgb(255, 255, 255);">
			Your password is: {{password}}
		</div>

		<div style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-stretch: inherit; font-size: 14px; line-height: 14px; font-family: geneva, arial, sans-serif; vertical-align: baseline; background-color: rgb(255, 255, 255);">
			You may change your password anytime you want.&nbsp;</div>
	</div>

	<div>&nbsp;</div>

	<div>&nbsp;</div>

	<div>&nbsp;</div>

	<address><br style="box-sizing: content-box;"/>
<span style="font-family:tahoma,geneva,sans-serif;">Thanks,<br style="box-sizing: content-box;"/>
Renters Compliance&nbsp;Support</span></address>
</div>
</body>
</html>
