<section class="row margin-header" data-ng-controller="SettingsController" data-ng-init="findOne()">
	<div class="sub-container">
		<div class="sub-header text-center" style="padding-top: 63px; padding-bottom: 20px;">
			<h1 class="HelveticaNeue" style="font-size: 50px; letter-spacing: 2px;">{{profile.user.displayName}}</h1>
		</div>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8 account-page text-center">
				<h3 class="HelveticaNeue sub-title">Contact Information</h3>
				<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div class="form-group">
							<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="profile.user.firstName" placeholder="First Name">
						</div>
						<div class="form-group">
							<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="profile.user.lastName" placeholder="Last Name">
						</div>
						<div class="form-group">
							<input type="email" id="email" name="email" class="form-control" data-ng-model="profile.user.email" placeholder="Email">
						</div>
						<div class="form-group">
							<input type="text" id="phoneNumber" name="phoneNumber" class="form-control" data-ng-model="profile.phoneNumber" placeholder="Phone Number">
						</div>
						<div class="form-group">
							<input type="text" id="address" name="address" class="form-control" data-ng-model="profile.address" placeholder="Address">
						</div>
						<div class="form-group">
							<input type="text" id="city" name="city" class="form-control" data-ng-model="profile.city" placeholder="City">
						</div>
						<div class="form-group">
							<input type="text" id="state" name="state" class="form-control" data-ng-model="profile.state" placeholder="State">
						</div>
						<div class="form-group">
							<input type="text" id="zipcode" name="zipcode" class="form-control" data-ng-model="profile.zipcode" placeholder="ZIP">
						</div>
						<div class="form-group">
							<label class="form-select" style="width: 100%;">
								<select class="form-control" id="country" name="country" data-ng-model="profile.country" placeholder="Country">
									<option value="">Country</option>
									<option value="US">US</option>
									<option value="Canada">Canada</option>
								</select>
							</label>
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-success btn-lg upper-letters" style="font-size: 14px; font-weight: bold; margin-top: 14px; padding: 15px 28px;">Save Information</button>
						</div>
						<div data-ng-show="success" class="text-center text-success">
							<strong>Account Information Saved Successfully</strong>
						</div>
						<div data-ng-show="error" class="text-center text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8 account-page text-center" style="margin-top: 50px;">
				<h3 class="HelveticaNeue sub-title">Password details</h3>
				<form data-ng-submit="changeUserPassword()" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div class="form-group">
							<label>Current Password</label>
							<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Password">
						</div>
						<div class="form-group">
							<label>New Password</label>
							<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="Password">
						</div>
						<div class="form-group">
							<label>Verify Password</label>
							<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Password">
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-success btn-lg upper-letters" style="font-size: 14px; font-weight: bold; margin-top: 24px; padding: 15px 28px;">Save Password</button>
						</div>
						<div data-ng-show="pwd_success" class="text-center text-success">
							<strong>Password Changed Successfully</strong>
						</div>
						<div data-ng-show="pwd_error" class="text-center text-danger">
							<strong data-ng-bind="pwd_error"></strong>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</section>
