<div class="modal-header">
	<i ng-click="cancel()" class="glyphicon glyphicon-remove icon-arrow-right pull-right" style="cursor: pointer; font-size: 22px; font-weight: normal;"></i>
	<h3 class="modal-title">Property Manager</h3>
</div>
<div class="modal-body row">
	<div class="col-md-12">
		<div class="form-group no-margin">
			<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="propertyManager.firstName" placeholder="First Name">
			<span class="text-danger text-left" ng-if="errorFirstName">Please enter your first name.</span>
		</div>
		<div class="form-group no-margin">
			<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="propertyManager.lastName" placeholder="Last Name">
			<span class="text-danger text-left" ng-if="errorLastName">Please enter your last name.</span>
		</div>
		<div class="form-group no-margin">
			<input type="email" id="email" name="email" class="form-control" data-ng-model="propertyManager.email" placeholder="Email">
			<span class="text-danger text-left" ng-if="errorEmail">Please enter a valid email address.</span>
		</div>
		<div class="form-group no-margin">
			<input type="text" id="phoneNumber" name="phoneNumber" class="form-control" data-ng-model="propertyManager.phoneNumber" placeholder="Phone Number">
		</div>
		<div class="form-group no-margin">
			<ul class="list-group">
				<li class="list-group-item">Assigned Properties:</li>
				<li class="list-group-item" ng-repeat="assigned_property in propertyManager.assigned_properties">
					<a class="badge" ng-click="removeAssignedProperty(assigned_property, $index)"><span class="glyphicon glyphicon-remove"></span></a>
					{{assigned_property.propertyName}}
				</li>
			</ul>
			<label>Assign Additional Properties</label>
			<select class="form-control" ng-options="property as property.propertyName for property in properties track by property._id" ng-model="new_property" ng-change="assignNewProperty(new_property)">

			</select>
		</div>
		<div data-ng-show="error" class="text-center text-danger">
			<strong data-ng-bind="error"></strong>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default btn-lg custom-gray-btn" type="button" ng-click="cancel()">Cancel</button>
	<button class="btn btn-success btn-lg" type="button" ng-click="savePropertyManager()">Save</button>
</div>
