<div class="gray-header-area"></div>
<section data-ng-controller="PropertyManagerController">
	<div class="sub-container" style="margin-top: 20px;">
		<div class="sub-header">
			<h3 class="pull-left">Property Managers</h3>
			<div class="pull-right">
				<button type="button" class="btn btn-large btn-success btn-block" style="padding: 15px;" ng-click="openPropertyManagerModal()">Add property manager</button>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="maincontent-area">
			<div class="table-responsive">
				<table class="table table-hover" st-pipe="findPropertyManagers" st-table="property_managers" st-safe-src="property_managers">
					<thead>
					<tr>
						<th>Property Manager</th>
						<th>Properties</th>
						<th>Email</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="property_manager in property_managers">
						<td>{{property_manager.displayName}}</td>
						<td>{{property_manager.assigned_properties.length}}</td>
						<td>{{property_manager.email}}</td>
						<td>
							<a href="" ng-click="removePropertyManager(property_manager)"><span class="glyphicon glyphicon-trash"></span></a> |
							<a href="" ng-click="openPropertyManagerModal(property_manager)"><span class="glyphicon glyphicon-pencil"></span></a>
						</td>
					</tr>
					</tbody>
					<tfoot>
					<tr>
						<td class="text-center" colspan="4">
							<span class="pull-left" style="margin: 20px 0;">Total: {{totalItems}}</span>
							<nav class="pull-right" ng-if="numberOfPages >= 2">
								<ul class="pagination">
									<li><a ng-click="selectPage(currentPage - 1)">&lt;</a></li>
									<li><a>{{currentPage}} of {{numberOfPages}}</a></li>
									<li><a ng-click="selectPage(currentPage + 1)">&gt;</a></li>
								</ul>
							</nav>
						</td>
					</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</section>
