<div style="margin-top:100px" class="modal-body" ng-controller="CompanyController">
	<h2>Properties</h2>
	<p><b>Company Name: </b>{{company.name}}</p>
		<table class="table table-hover" st-pipe="findProperties" st-table="properties" st-safe-src="properties">
			<tbody>
			<tr ng-repeat="property in properties">
				<td class="middle-align">
					<a class="green-text" href="#!/company/{{property.c_id}}" ng-if="authentication.user.roles.indexOf('admin')>-1">{{property.pr_name}}</a>
				</td>
			</tr>
			</tbody>
		</table>
	<pagination total-items="properties.length" ng-model="propertiePage" items-per-page="pageSize"></pagination>
</div>

