<div style="margin-top: 100px;" class="modal-body" ng-controller="CompaniesController">
	<h2>Companies List</h2>
	<p>Total: {{companies.length}}</p>
	<table class="table table-hover">
		<thead>
			<th>Company Name</th>
			<th>Company ID</th>
		</thead>
		<tbody>
			<tr ng-repeat="company in companies | startFrom: (companiesPage-1)*pageSize | limitTo: pageSize">
				<td><a href="#!/properties/{{company.c_id}}">{{company.c_name}}</a></td>
				<td>{{company.c_id}}</td>
			</tr>
		</tbody>
	</table>

	<pagination total-items="companies.length" ng-model="companiesPage" items-per-page="pageSize"></pagination>
</div>