<div style="margin-top: 100px;" class="modal-body" ng-controller="CompaniesController">
	<h2>List of all Companies</h2>
	<p>Total: {{companies.length}}</p>
	<div class="list-table">
		<div class="table-responsive text-center">
			<table class="table table-hover col-lg-4">
				<thead class="gray-bg">
					<th>Company Name</th>
				</thead>
				<tbody>
					<tr ng-repeat="company in companies | startFrom: (companiesPage-1)*pageSize | limitTo: pageSize">
						<td  class="td-hover"><a href="#!/properties/{{company.c_id}}">{{company.c_name}}</a></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>

	<pagination total-items="companies.length" ng-model="companiesPage" items-per-page="pageSize"></pagination>
</div>
