<div style="margin-top:100px" class="modal-body" ng-controller="PropertiesController">
	<h2>Properties</h2>
	<p><b>Company Name: </b>{{company.name}}</p>
	<table class="table table-hover">
		<thead>
			<th>Property Name</th>
			<th>Property Manager</th>
			<th>Country</th>
			<th>City</th>
			<th>Address</th>
		</thead>
		<tbody>
		<tr ng-repeat="property in properties | startFrom: (propertiesPage-1)*pageSize | limitTo: pageSize">
			<td class="middle-align">
				<a class="green-text" href="#!/properties/{{property.pr_id}}/units/{{property.c_id}}" ng-if="authentication.user.roles.indexOf('admin')>-1">{{property.pr_name}}</a>
			</td>
			<td>{{property.Userinfo.firstname}} {{property.Userinfo.lastname}}</td>
			<td>{{property.Addresses.0.country}}</td>
			<td>{{property.Addresses.0.city}}</td>
			<td>{{property.Addresses.0.address}}</td>
		</tr>
		</tbody>
	</table>
	<pagination total-items="properties.length" ng-model="propertiesPage" items-per-page="pageSize"></pagination>
</div>

